<a href="https://colab.research.google.com/github/omkar-salunke/accounts/blob/main/both_tally_daybook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [55]:
# prompt: list of files in the path in python

import os
import pandas as pd
import xml.etree.ElementTree as ET
import pandas as pd

# Function to recursively extract text and sub-elements from a node
def extract_element_data(element):
    element_data = {}
    # If the element has no children, return its text
    if len(element) == 0:
        return element.text

    # Otherwise, go deeper into the element's children
    for child in element:
        # Recursively extract data for each child element
        child_data = extract_element_data(child)
        element_data[child.tag] = child_data
    return element_data

# Function to flatten nested dictionaries (e.g., 'amount': {'P': {'T': 100}})
def flatten_dict(d, parent_key='', sep='.'):
    items = []
    for k, v in d.items():
        new_key = f"{parent_key}{sep}{k}" if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

# Function to recursively search for all 'voucher' elements and extract their data
def find_all_vouchers(element, voucher_tag="VOUCHER"):
    vouchers = []

    # If the current element is a 'voucher', collect its data
    if element.tag == voucher_tag:
        voucher_dict = {}
        # Collect data for all child elements within the voucher
        for sub_child in element:
            extracted_data = extract_element_data(sub_child)
            voucher_dict[sub_child.tag] = extracted_data

        # Flatten the voucher dictionary to handle nested elements
        voucher_dict_flattened = flatten_dict(voucher_dict)
        vouchers.append(voucher_dict_flattened)

    # Recursively search in all children of the current element
    for child in element:
        vouchers.extend(find_all_vouchers(child, voucher_tag))

    return vouchers

# Function to convert the XML to a DataFrame by extracting all vouchers
def xml_to_dataframe_vouchers(xml_file):
    tree = ET.parse(xml_file)
    root = tree.getroot()

    # Find all 'voucher' elements in the XML
    voucher_list = find_all_vouchers(root)

    # Create a DataFrame from the list of voucher dictionaries
    df = pd.DataFrame(voucher_list)
    return df

In [56]:
df_bank_match_soe = pd.read_excel("/content/drive/My Drive/2024_25/overview_account.xlsx",sheet_name='SOE 2024-25')
df_bank_match_overview_soe = df_bank_match_soe.groupby('comment').agg({'Debit':'sum','Credit':'sum'}).reset_index().rename(columns={'comment':'party_name'})

df_bank_match_me = pd.read_excel("/content/drive/My Drive/2024_25/overview_account.xlsx",sheet_name='ME 2024-25')
df_bank_match_overview_me = df_bank_match_me.groupby('comment').agg({'Debit':'sum','Credit':'sum'}).reset_index().rename(columns={'comment':'party_name'})

In [57]:
files_soe = os.listdir('/content/drive/My Drive/2024_25/SOE/')
files_me = os.listdir('/content/drive/My Drive/2024_25/ME/')

In [58]:

req_cols = ['DATE','GUID','VOUCHERTYPENAME','PARTYLEDGERNAME','PARTYGSTIN','CLASSNAME','PARTYNAME','CONSIGNEEGSTIN','PERSISTEDVIEW','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME','ALLINVENTORYENTRIES.LIST.RATE','ALLINVENTORYENTRIES.LIST.AMOUNT','LEDGERENTRIES.LIST.VATEXPAMOUNT','LEDGERENTRIES.LIST.AMOUNT','ALLINVENTORYENTRIES.LIST.ACTUALQTY','ALLINVENTORYENTRIES.LIST.BILLEDQTY','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.ACTUALQTY','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.BILLEDQTY','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.LEDGERNAME','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.AMOUNT','LEDGERENTRIES.LIST.LEDGERNAME','LEDGERENTRIES.LIST.AMOUNT','LEDGERENTRIES.LIST.VATEXPAMOUNT','INVOICEORDERLIST.LIST.BASICORDERDATE','INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO','REFERENCEDATE','REFERENCE','CONSIGNEEPINNUMBER','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.GSTOVRDNNATURE','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.RATEDETAILS.LIST.GSTRATEDUTYHEAD','ALLLEDGERENTRIES.LIST.OLDAUDITENTRYIDS.LIST.OLDAUDITENTRYIDS','ALLLEDGERENTRIES.LIST.LEDGERNAME','ALLLEDGERENTRIES.LIST.AMOUNT','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.DATE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.INSTRUMENTDATE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.NAME','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.TRANSACTIONTYPE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTFAVOURING','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.CHEQUECROSSCOMMENT','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.UNIQUEREFERENCENUMBER','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.STATUS','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTMODE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.BANKPARTYNAME','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.AMOUNT','NARRATION']
df_raw_collect_soe = pd.DataFrame()
for xt in files_soe:
  path_ct = '/content/drive/My Drive/2024_25/SOE/'
  xml_file = path_ct+xt
  df_raw_f = xml_to_dataframe_vouchers(xml_file)[req_cols].reset_index(drop=True)
  df_raw_f_ref = pd.DataFrame(df_raw_f)
  df_raw_collect_soe = pd.concat([df_raw_collect_soe, df_raw_f_ref]).reset_index(drop=True)

df_raw_soe = df_raw_collect_soe.drop_duplicates(subset='GUID', keep='first').reset_index(drop=True)
df_raw_soe['date_column'] = pd.to_datetime(df_raw_soe['DATE'], format='%Y%m%d')
df_raw_soe = df_raw_soe.sort_values('date_column')

df_raw_collect_me = pd.DataFrame()
for xt in files_me:
  path_ct = '/content/drive/My Drive/2024_25/ME/'
  xml_file = path_ct+xt
  df_raw_f = xml_to_dataframe_vouchers(xml_file)[req_cols].reset_index(drop=True)
  df_raw_f_ref = pd.DataFrame(df_raw_f)
  df_raw_collect_me = pd.concat([df_raw_collect_me, df_raw_f_ref]).reset_index(drop=True)

df_raw_me = df_raw_collect_me.drop_duplicates(subset='GUID', keep='first').reset_index(drop=True)
df_raw_me['date_column'] = pd.to_datetime(df_raw_me['DATE'], format='%Y%m%d')
df_raw_me = df_raw_me.sort_values('date_column')

In [59]:
def add_req_fields(df):
  df['party_name'] = df[['PARTYNAME', 'ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTFAVOURING', 'ALLLEDGERENTRIES.LIST.LEDGERNAME']].bfill(axis=1).iloc[:, 0]
  df['tax_out_1'] = df[['LEDGERENTRIES.LIST.AMOUNT']].bfill(axis=1).iloc[:, 0]
  df['tax_out_2'] = df[['LEDGERENTRIES.LIST.VATEXPAMOUNT']].bfill(axis=1).iloc[:, 0]

  # df[''] = df[''].astype(float)
  df['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT'] = df['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT'].astype(float)
  df['tax_out_1'] = df['tax_out_1'].astype(float)
  df['tax_out_2'] = df['tax_out_2'].astype(float)

  df['amount_coalesce'] = df[['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT', 'ALLLEDGERENTRIES.LIST.AMOUNT']].bfill(axis=1).iloc[:, 0]
  df['amount_coalesce'] = df['amount_coalesce'].astype(float)
  df['tax_coalesce'] = df[['tax_out_1', 'tax_out_2']].sum(axis=1)
  df['total_coalesce'] = df[['tax_coalesce', 'amount_coalesce']].sum(axis=1)

  df = df[['party_name','total_coalesce','amount_coalesce','tax_coalesce','tax_out_1','tax_out_2']+req_cols]
  return df

In [60]:
df_me = add_req_fields(df_raw_me)
df_me['DATE'] = pd.to_datetime(df_me['DATE'])
df_me['month_of_day'] =df_me['DATE'].dt.month
df_me['quarter_of_day'] =df_me['DATE'].dt.quarter

df_soe = add_req_fields(df_raw_soe)
df_soe['DATE'] = pd.to_datetime(df_soe['DATE'])
df_soe['month_of_day'] =df_soe['DATE'].dt.month
df_soe['quarter_of_day'] =df_soe['DATE'].dt.quarter

<ipython-input-59-bc721fa37c88>:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['amount_coalesce'] = df[['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT', 'ALLLEDGERENTRIES.LIST.AMOUNT']].bfill(axis=1).iloc[:, 0]
<ipython-input-60-9f1d164c3bb6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_me['DATE'] = pd.to_datetime(df_me['DATE'])
<ipython-input-60-9f1d164c3bb6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_me['month_of_day'] =df_me['DATE'].dt.month
<ipython-input-60-9f1d164c3bb6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_me['quarter_of_day'] =df_me['DATE'].dt.quarter
<ipython-input-59-bc721fa37c88>:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['amount_coalesce'] = df[['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT', 'ALLLEDGERENTRIES.LIST.AMOUNT']].bfill(axis=1).iloc[:, 0]
<ipython-input-60-9f1d164c3bb6>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_soe['DATE'] = pd.to_datetime(df_soe['DATE'])
<ipython-input-60-9f1d164c3bb6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_soe['month_of_day'] =df_soe['DATE'].dt.month
<ipython-input-60-9f1d164c3bb6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_soe['quarter_of_day'] =df_soe['DATE'].dt.quarter

In [61]:

df_soe['total_coalesce'] = df_soe['total_coalesce'].astype('float')
df_summary_all_soe = pd.pivot_table(df_soe, values='total_coalesce', index='party_name', columns='VOUCHERTYPENAME', aggfunc='sum').reset_index()
df_summary_all_soe['balance'] = 0
df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='TIRUMALA MULTI TECHNOLOGIES'].index,'balance'] = 467646
df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='SAVITA AUTO INDUSTRIES (N)'].index,'balance'] = 195853
df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='PATIL-N-PATIL ENGINEERING	'].index,'balance'] = 55660
df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='NANDAMURI TECHNOS'].index,'balance'] = 35255
df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='V.S.AUTO TECH PRIVATE LIMITED'].index,'balance'] = 4699956
df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='A.B.ENGINEERING WORKS'].index,'balance'] = 11598

df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='AKAR INDUSTRY'].index,'balance'] = 317899

df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='SURYA AUTO INDUSTRIES'].index,'balance'] = 23165


df_summary_all_soe = df_summary_all_soe.fillna(0)
df_summary_all_soe['total_due']=df_summary_all_soe[['Contra', 'Credit Note', 'DELIVERY CHALLAN', 'Debit Note',
       'Journal', 'Payment', 'Purchase', 'Receipt', 'SALES GST', 'balance']].sum(axis=1)

df_me['total_coalesce'] = df_me['total_coalesce'].astype('float')
df_summary_all_me = pd.pivot_table(df_me, values='total_coalesce', index='party_name', columns='VOUCHERTYPENAME', aggfunc='sum').reset_index()
df_summary_all_me['balance'] = 0
df_summary_all_me = df_summary_all_me.fillna(0)
df_summary_all_me['total_due']=df_summary_all_me[[ 'Contra','Delivery Note','Debit Note','Sales Gst', 'Journal', 'Payment', 'Purchase', 'Receipt','Sales Gst','balance']].sum(axis=1)

<ipython-input-61-c45c9a62cf25>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_soe['total_coalesce'] = df_soe['total_coalesce'].astype('float')
<ipython-input-61-c45c9a62cf25>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_me['total_coalesce'] = df_me['total_coalesce'].astype('float')

In [62]:
# terms = ['SHREE SAI ENGINEERING', 'XYZ COMPANY'] # Function to match and replace terms def match_and_replace(transaction): for term in terms: if term.replace(" ", "").lower() in transaction.replace(" ", "").lower(): return term return transaction # Or return a default value if no match is found # Apply function to the column df['renamed_column'] = df['transaction_column'

In [63]:
# df_bank_match
df_summary_all_bank_soe = pd.merge(df_summary_all_soe,df_bank_match_overview_soe,on=['party_name'],how='outer')
df_summary_all_bank_soe = df_summary_all_bank_soe.sort_values(by='SALES GST', key=lambda x: x.isna()).reset_index(drop=True).sort_values(by='SALES GST', ascending=False).reset_index(drop=True)

# df_bank_match
df_summary_all_bank_me = pd.merge(df_summary_all_me,df_bank_match_overview_me,on=['party_name'],how='outer')
df_summary_all_bank_me = df_summary_all_bank_me.sort_values(by='Sales Gst', key=lambda x: x.isna()).reset_index(drop=True).sort_values(by='Sales Gst', ascending=False).reset_index(drop=True)

In [73]:

df_sales = df_soe[df_soe['VOUCHERTYPENAME']=='SALES GST'].reset_index(drop=True)
# df_sales = df_sales.rename(columns={'ALLINVENTORYENTRIES.LIST.AMOUNT': 'sales_amount'})
df_sales_g = df_sales.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"total_sales","PARTYLEDGERNAME":"party_name"})
date_45d = max(df_sales['DATE']) - pd.Timedelta(days=45)
due45 = df_sales[df_sales['DATE'] > date_45d]
due45_g = due45.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_45d","PARTYLEDGERNAME":"party_name"})

date_60d = max(df_sales['DATE']) - pd.Timedelta(days=60)
due60 = df_sales[df_sales['DATE'] > date_60d]
due60_g = due60.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_60d","PARTYLEDGERNAME":"party_name"})

date_90d = max(df_sales['DATE']) - pd.Timedelta(days=90)
due90 = df_sales[df_sales['DATE'] > date_90d]
due90_g = due90.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_90d","PARTYLEDGERNAME":"party_name"})

# df_summary_all_bank_soe_due = pd.merge(df_summary_all_bank_soe,df_sales_g,on=['party_name'],how='left')
df_summary_all_bank_soe_due = pd.merge(df_summary_all_bank_soe,due45_g,on=['party_name'],how='left')
df_summary_all_bank_soe_due = pd.merge(df_summary_all_bank_soe_due,due60_g,on=['party_name'],how='left')
df_summary_all_bank_soe_due = pd.merge(df_summary_all_bank_soe_due,due90_g,on=['party_name'],how='left')
df_summary_all_bank_soe_due = df_summary_all_bank_soe_due.fillna(0)
# df_summary_all_bank_soe_due

,party_name,Contra,Credit Note,DELIVERY CHALLAN,Debit Note,Journal,Payment,Purchase,Receipt,SALES GST,balance,total_due,Debit,Credit,Sale_45d,Sale_60d,Sale_90d
0,V.S.AUTO TECH PRIVATE LIMITED,0.0,0.00,0.0,0.00,0.0,0.0,0.00,-7312871.2,8870318.67,4699956.0,6257403.47,0.0,7312871.2,1536987.26,2845916.86,3882756.65
1,PATIL-N-PATIL ENGINEERING,0.0,-292079.81,0.0,457614.39,0.0,0.0,-7468333.03,0.0,6490899.03,0.0,-811899.42,0.0,0.0,1594002.30,2066499.50,3044869.83
2,AKAR INDUSTRY,0.0,0.00,0.0,81446.64,0.0,0.0,0.00,-2831903.0,5923540.12,317899.0,3490982.76,0.0,4171929.0,1290039.51,1737028.98,2714610.36
3,AURANGABAD STEEL CORPORATION,0.0,0.00,0.0,0.00,0.0,0.0,0.00,-2023953.7,2690636.00,0.0,666682.30,0.0,2683929.7,1058719.60,1058719.60,1480392.60
4,SAVITA AUTO INDUSTRIES (N),0.0,0.00,0.0,0.00,0.0,0.0,0.00,-1619006.0,2232817.27,195853.0,809664.27,0.0,1913945.0,570782.01,809551.01,1076840.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Emmar steel,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,88950.0,0.0,0.00,0.00,0.00
87,CHEQUE DEPOSIT/SHRI OMKAR ENTERPRISES,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,1700000.0,0.00,0.00,0.00
88,CHEQUE DEPOSIT,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,500000.0,0.00,0.00,0.00
89,CASH,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,100000.0,0.0,0.00,0.00,0.00
90,WITHDRAWAL TRANSFER,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.00,600000.0,0.0,0.00,0.00,0.00

In [74]:

df_sales = df_me[df_me['VOUCHERTYPENAME']=='Sales Gst'].reset_index(drop=True)
# df_sales = df_sales.rename(columns={'ALLINVENTORYENTRIES.LIST.AMOUNT': 'sales_amount'})
df_sales_g = df_sales.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"total_sales","PARTYLEDGERNAME":"party_name"})
date_45d = max(df_sales['DATE']) - pd.Timedelta(days=45)
due45 = df_sales[df_sales['DATE'] > date_45d]
due45_g = due45.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_45d","PARTYLEDGERNAME":"party_name"})

date_60d = max(df_sales['DATE']) - pd.Timedelta(days=60)
due60 = df_sales[df_sales['DATE'] > date_60d]
due60_g = due60.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_60d","PARTYLEDGERNAME":"party_name"})

date_90d = max(df_sales['DATE']) - pd.Timedelta(days=90)
due90 = df_sales[df_sales['DATE'] > date_90d]
due90_g = due90.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_90d","PARTYLEDGERNAME":"party_name"})

# df_summary_all_bank_me_due = pd.merge(df_summary_all_bank_me,df_sales_g,on=['party_name'],how='left')
df_summary_all_bank_me_due = pd.merge(df_summary_all_bank_me,due45_g,on=['party_name'],how='left')
df_summary_all_bank_me_due = pd.merge(df_summary_all_bank_me_due,due60_g,on=['party_name'],how='left')
df_summary_all_bank_me_due = pd.merge(df_summary_all_bank_me_due,due90_g,on=['party_name'],how='left')
df_summary_all_bank_me_due = df_summary_all_bank_me_due.fillna(0)
# df_summary_all_bank_me_due

,party_name,Contra,Debit Note,Delivery Note,Journal,Payment,Purchase,Receipt,Sales Gst,balance,total_due,Debit,Credit,Sale_45d,Sale_60d,Sale_90d
0,SHREE SAI ENGINEERING,0.0,0.00,0.0,0.0,0.0,0.0,-16998379.15,22663394.83,0.0,28328410.51,0.0,17647445.39,5173242.75,7164861.08,9956752.56
1,AURANGABAD STEEL CORPORATION,0.0,0.00,0.0,0.0,0.0,0.0,-1597301.00,2773525.10,0.0,3949749.20,0.0,2773525.00,636020.00,1176224.00,1507037.00
2,AKAR INDUSTRY,0.0,9782.77,0.0,0.0,0.0,0.0,-665084.00,1748975.91,0.0,2842650.59,0.0,2437119.00,496527.10,614604.69,819582.75
3,AKAR INDUSTRY UNIT II,0.0,36323.63,0.0,0.0,0.0,0.0,-604896.00,1091472.90,0.0,1614373.43,0.0,0.00,226761.60,383369.62,530783.62
4,V S AUTO TECH PRIVATE LIMITED,0.0,0.00,0.0,0.0,0.0,0.0,-442518.42,610298.88,0.0,778079.34,0.0,557573.69,103662.18,217713.89,237042.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,MATOSHRI ENGINEERING WORKS,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,1600000.00,0.00,0.00,0.00
66,WITHDRAWAL TRANSFER,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,329000.0,0.00,0.00,0.00,0.00
67,MSEDCL,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,514400.0,0.00,0.00,0.00,0.00
68,GSTN,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,1542794.0,0.00,0.00,0.00,0.00
69,mina salunke axis,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,150000.0,0.00,0.00,0.00,0.00

In [66]:
import numpy as np
columns_to_round_soe = ['Contra', 'Credit Note', 'DELIVERY CHALLAN', 'Debit Note','Journal', 'Payment', 'Purchase', 'Receipt', 'SALES GST', 'balance','total_due', 'Debit', 'Credit','total_sales','Sale_45d','Sale_60d','Sale_90d']
df_summary_all_bank_soe_due[columns_to_round_soe] = df_summary_all_bank_soe_due[columns_to_round_soe].apply(np.ceil)

columns_to_round_me = ['Contra', 'Debit Note', 'Delivery Note', 'Journal','Payment', 'Purchase', 'Receipt', 'Sales Gst', 'balance', 'total_due','Debit', 'Credit','total_sales','Sale_45d','Sale_60d','Sale_90d']
df_summary_all_bank_me_due[columns_to_round_me] = df_summary_all_bank_me_due[columns_to_round_me].apply(np.ceil)

In [71]:
df_summary_all_bank_soe_due.to_excel("/content/drive/My Drive/2024_25/daybook.xlsx",sheet_name='SOE_overview')
with pd.ExcelWriter("/content/drive/My Drive/2024_25/daybook.xlsx",mode='a') as writer:
  df_soe.to_excel(writer,sheet_name='SOE_raw_xml')

In [72]:

with pd.ExcelWriter("/content/drive/My Drive/2024_25/daybook.xlsx",mode='a') as writer:
  df_summary_all_bank_me_due.to_excel(writer,sheet_name='ME_overview')
with pd.ExcelWriter("/content/drive/My Drive/2024_25/daybook.xlsx",mode='a') as writer:
  df_me.to_excel(writer,sheet_name='ME_raw_xml')

In [75]:
df_soe

,party_name,total_coalesce,amount_coalesce,tax_coalesce,tax_out_1,tax_out_2,DATE,GUID,VOUCHERTYPENAME,PARTYLEDGERNAME,...,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTFAVOURING,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.CHEQUECROSSCOMMENT,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.UNIQUEREFERENCENUMBER,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.STATUS,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTMODE,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.BANKPARTYNAME,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.AMOUNT,NARRATION,month_of_day,quarter_of_day
0,AKAR INDUSTRY,44765.42,37936.8,6828.62,3414.31,3414.31,2024-04-01,c00e677e-43c1-4bea-8147-e2e4905eacab-0000b597,SALES GST,AKAR INDUSTRY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
1,AKAR INDUSTRY,36464.84,30902.4,5562.44,2781.22,2781.22,2024-04-01,c00e677e-43c1-4bea-8147-e2e4905eacab-0000b598,SALES GST,AKAR INDUSTRY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
2,AKAR INDUSTRY,23267.84,18178.0,5089.84,2544.92,2544.92,2024-04-01,c00e677e-43c1-4bea-8147-e2e4905eacab-0000b599,SALES GST,AKAR INDUSTRY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
3,V.S.AUTO TECH PRIVATE LIMITED,186487.20,158040.0,28447.20,14223.60,14223.60,2024-04-01,c00e677e-43c1-4bea-8147-e2e4905eacab-0000b59a,SALES GST,V.S.AUTO TECH PRIVATE LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
4,V.S.AUTO TECH PRIVATE LIMITED,54257.58,45981.0,8276.58,4138.29,4138.29,2024-04-01,c00e677e-43c1-4bea-8147-e2e4905eacab-0000b59b,SALES GST,V.S.AUTO TECH PRIVATE LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,AKAR INDUSTRY,19107.16,16192.5,2914.66,1457.33,1457.33,2024-10-30,c00e677e-43c1-4bea-8147-e2e4905eacab-0000bc36,SALES GST,AKAR INDUSTRY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4
1303,SAVITA AUTO INDUSTRIES (N),74340.00,63000.0,11340.00,5670.00,5670.00,2024-10-30,c00e677e-43c1-4bea-8147-e2e4905eacab-0000bc31,SALES GST,SAVITA AUTO INDUSTRIES (N),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4
1302,PATIL-N-PATIL ENGINEERING,34220.16,21936.0,12284.16,6142.08,6142.08,2024-10-30,c00e677e-43c1-4bea-8147-e2e4905eacab-0000bc30,SALES GST,PATIL-N-PATIL ENGINEERING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4
1304,SAVITA AUTO INDUSTRIES (N),19700.10,16695.0,3005.10,1502.55,1502.55,2024-10-30,c00e677e-43c1-4bea-8147-e2e4905eacab-0000bc32,SALES GST,SAVITA AUTO INDUSTRIES (N),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4
1309,V.S.AUTO TECH PRIVATE LIMITED,42081.76,35662.5,6419.26,3209.63,3209.63,2024-10-30,c00e677e-43c1-4bea-8147-e2e4905eacab-0000bc37,SALES GST,V.S.AUTO TECH PRIVATE LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,4