<a href="https://colab.research.google.com/github/omkar-salunke/accounts/blob/main/both_tally_daybook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# prompt: list of files in the path in python

import os
import pandas as pd
import xml.etree.ElementTree as ET
import pandas as pd
from openpyxl import load_workbook

def extract_element_data(element):
    element_data = {}
    # If the element has no children, return its text
    if len(element) == 0:
        return element.text

    # Otherwise, go deeper into the element's children
    for child in element:
        # Recursively extract data for each child element
        child_data = extract_element_data(child)
        element_data[child.tag] = child_data
    return element_data

# Function to flatten nested dictionaries (e.g., 'amount': {'P': {'T': 100}})
def flatten_dict(d, parent_key='', sep='.'):
    items = []
    for k, v in d.items():
        new_key = f"{parent_key}{sep}{k}" if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

# Function to recursively search for all 'voucher' elements and extract their data
def find_all_vouchers(element, voucher_tag="VOUCHER"):
    vouchers = []

    # If the current element is a 'voucher', collect its data
    if element.tag == voucher_tag:
        voucher_dict = {}
        # Collect data for all child elements within the voucher
        for sub_child in element:
            extracted_data = extract_element_data(sub_child)
            voucher_dict[sub_child.tag] = extracted_data

        # Flatten the voucher dictionary to handle nested elements
        voucher_dict_flattened = flatten_dict(voucher_dict)
        vouchers.append(voucher_dict_flattened)

    # Recursively search in all children of the current element
    for child in element:
        vouchers.extend(find_all_vouchers(child, voucher_tag))

    return vouchers

# Function to convert the XML to a DataFrame by extracting all vouchers
def xml_to_dataframe_vouchers(xml_file):
    tree = ET.parse(xml_file)
    root = tree.getroot()

    # Find all 'voucher' elements in the XML
    voucher_list = find_all_vouchers(root)

    # Create a DataFrame from the list of voucher dictionaries
    df = pd.DataFrame(voucher_list)
    return df

In [ ]:
# df_bank_match_soe = pd.read_excel("/content/drive/My Drive/2024_25/overview_account.xlsx",sheet_name='SOE 2024-25')
# df_bank_match_overview_soe = df_bank_match_soe.groupby('comment').agg({'Debit':'sum','Credit':'sum'}).reset_index().rename(columns={'comment':'party_name'})

# df_bank_match_me = pd.read_excel("/content/drive/My Drive/2024_25/overview_account.xlsx",sheet_name='ME 2024-25')
# df_bank_match_overview_me = df_bank_match_me.groupby('comment').agg({'Debit':'sum','Credit':'sum'}).reset_index().rename(columns={'comment':'party_name'})

In [3]:
soe_list = '/content/drive/MyDrive/tally_export/SOE/'
me_list = '/content/drive/MyDrive/tally_export/ME/'
files_soe = os.listdir('/content/drive/MyDrive/tally_export/SOE/')
files_me = os.listdir('/content/drive/MyDrive/tally_export/ME/')

In [4]:

# xml_to_dataframe_vouchers('/content/drive/MyDrive/tally_export/ME/DayBook.xml')

In [5]:
req_cols = ['VOUCHERNUMBER','DATE','GUID','VOUCHERTYPENAME','PARTYLEDGERNAME','PARTYGSTIN','CLASSNAME','PARTYNAME','CONSIGNEEGSTIN','PERSISTEDVIEW','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME','ALLINVENTORYENTRIES.LIST.RATE','ALLINVENTORYENTRIES.LIST.AMOUNT','LEDGERENTRIES.LIST.VATEXPAMOUNT','LEDGERENTRIES.LIST.AMOUNT','ALLINVENTORYENTRIES.LIST.ACTUALQTY','ALLINVENTORYENTRIES.LIST.BILLEDQTY','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.ACTUALQTY','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.BILLEDQTY','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.LEDGERNAME','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.AMOUNT','LEDGERENTRIES.LIST.LEDGERNAME','LEDGERENTRIES.LIST.AMOUNT','LEDGERENTRIES.LIST.VATEXPAMOUNT','INVOICEORDERLIST.LIST.BASICORDERDATE','INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO','REFERENCEDATE','REFERENCE','CONSIGNEEPINNUMBER','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.GSTOVRDNNATURE','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.RATEDETAILS.LIST.GSTRATEDUTYHEAD','ALLLEDGERENTRIES.LIST.OLDAUDITENTRYIDS.LIST.OLDAUDITENTRYIDS','ALLLEDGERENTRIES.LIST.LEDGERNAME','ALLLEDGERENTRIES.LIST.AMOUNT','NARRATION']
df_raw_collect_soe = pd.DataFrame()
for xt in files_soe:
  path_ct = soe_list
  xml_file = path_ct+xt
  df_raw_f = xml_to_dataframe_vouchers(xml_file)
  df_raw_f_ref = pd.DataFrame(df_raw_f)[req_cols]
  print(df_raw_f_ref.loc[0,'DATE'],df_raw_f_ref.loc[len(df_raw_f_ref)-1,'DATE'])
  df_raw_collect_soe = pd.concat([df_raw_collect_soe, df_raw_f_ref]).reset_index(drop=True)
df_raw_collect_soe

df_raw_soe = df_raw_collect_soe.drop_duplicates(subset='GUID', keep='first').reset_index(drop=True)
df_raw_soe['date_column'] = pd.to_datetime(df_raw_soe['DATE'], format='%Y%m%d')
df_raw_soe = df_raw_soe.sort_values('date_column')
df_raw_soe['date_column_month'] = df_raw_soe['date_column'].dt.month_name()
df_raw_soe['act_qty'] = df_raw_soe['ALLINVENTORYENTRIES.LIST.ACTUALQTY'].str.extract(r'([\d.]+)').astype(float)
df_raw_soe_sales = df_raw_soe[df_raw_soe['VOUCHERTYPENAME'].isin(['Sales Gst', 'SALES GST'])]
df_raw_soe_sales_sch = df_raw_soe_sales.groupby(['date_column_month','PARTYLEDGERNAME','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME'])['act_qty'].sum()

df_schedule_merge_soe = pd.DataFrame(df_raw_soe_sales_sch).pivot_table(index=['PARTYLEDGERNAME','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME'],columns='date_column_month',values='act_qty',aggfunc='sum').reset_index()
df_schedule_merge_soe['FROM']="SOE"

# df_schedule = pd.read_excel("/content/drive/MyDrive/tally_export/schedule.xlsx",sheet_name = 'SOE')
# df_schedule_merge_soe = pd.merge(df_schedule,df_raw_soe_sales_schedule,on=['PARTYLEDGERNAME','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME'],how='right')
# df_schedule_merge.to_excel(,sheet_name = 'SOE',index=False)
df_schedule_merge_soe

# df_raw_soe_sales.sort_values('date_column')

20250502 20250519
20250502 20250523
20250401 20250526
20250502 20250530
20250502 20250519
20250502 20250602
20250602 20250610

date_column_month,PARTYLEDGERNAME,ALLINVENTORYENTRIES.LIST.STOCKITEMNAME,April,June,May,FROM
0,AKAR INDUSTRY,2MM PTO CAP,15000.0,12090.0,17715.0,SOE
1,AKAR INDUSTRY,ANCHOR PLATE DIFF.LOCK LEVER,3350.0,3830.0,450.0,SOE
2,AKAR INDUSTRY,BKT BUMPER,4150.0,NaN,5890.0,SOE
3,AKAR INDUSTRY,BLANK OF LOCK PLATE DIFF.RING GEAR,17005.0,NaN,NaN,SOE
4,AKAR INDUSTRY,DIFF.CASE LOCK PLATE,25052.0,14510.0,33020.0,SOE
5,AKAR INDUSTRY,DUST CAP-F1138613,10970.0,3340.0,8239.0,SOE
6,AKAR INDUSTRY,HOOD HANDLE CLAMP,NaN,NaN,4036.0,SOE
7,AKAR INDUSTRY,LOCK PLATE BULL GEAR,5940.0,11270.0,25500.0,SOE
8,AKAR INDUSTRY,ROCKSHAFT WASHER,2220.0,23745.0,20420.0,SOE
9,AKAR INDUSTRY,SS WASHER -4MM,NaN,8940.0,10755.0,SOE
10,AKAR INDUSTRY,Tab Washer,26510.0,4050.0,40140.0,SOE
11,AKAR INDUSTRY,Z BKT,33940.0,17430.0,48260.0,SOE
12,AURANGABAD STEEL CORPORATION,SCRAP M.S.,7920.0,NaN,8900.0,SOE
13,FRIENDS ENGINEERING WORKS,EXTENTION LEVER MSPTO-8079,NaN,NaN,1250.0,SOE
14,PATIL-N-PATIL ENGINEERING,24165221 BKT,13552.0,NaN,7365.0,SOE
15,PATIL-N-PATIL ENGINEERING,AA161365 BKT WITH WELDING,14072.0,1600.0,6379.0,SOE
16,QUICK INDUSTRIAL SUPPLIERS,BLANKING TOOL NEW PUNCH 964,1.0,NaN,NaN,SOE
17,QUICK INDUSTRIAL SUPPLIERS,BREAK PANDAL REST RH P.NO.000060964M01,2600.0,7200.0,5150.0,SOE
18,QUICK INDUSTRIAL SUPPLIERS,BREAK PEDAL REST LH P.NO.000060965M01,5100.0,9066.0,870.0,SOE
19,QUICK INDUSTRIAL SUPPLIERS,CLUTCH PENDAL REST P.NO.000060966M01,1500.0,NaN,2418.0,SOE
20,QUICK INDUSTRIAL SUPPLIERS,CLUTCH PENDAL REST P.NO.000060966M02,2000.0,NaN,1456.0,SOE
21,QUICK INDUSTRIAL SUPPLIERS,CROSS SHAFT BIG PLATE,NaN,3225.0,490.0,SOE
22,QUICK INDUSTRIAL SUPPLIERS,CROSS SHAFT L BKT 6MM,NaN,NaN,490.0,SOE
23,QUICK INDUSTRIAL SUPPLIERS,CROSS SHAFT MIDDLE PLATE,NaN,2745.0,1295.0,SOE
24,QUICK INDUSTRIAL SUPPLIERS,CROSS SHAFT SMALL PLATE,NaN,2990.0,2060.0,SOE
25,QUICK INDUSTRIAL SUPPLIERS,TRANSPORTATION CHARGE,0.0,NaN,NaN,SOE
26,SAVITA AUTO INDUSTRIES (N),2.5X600X1250MM STRIPS,NaN,NaN,15.0,SOE
27,SAVITA AUTO INDUSTRIES (N),CLAMP FEMALE,5720.0,NaN,4860.0,SOE
28,SAVITA AUTO INDUSTRIES (N),CLAMP MALE PART NO.006021638C1\r\n,1430.0,NaN,6223.0,SOE
29,SAVITA AUTO INDUSTRIES (N),CONNECTING LINK CLEVIS,4410.0,NaN,NaN,SOE
30,SAVITA AUTO INDUSTRIES (N),CONNECTING LINK CLEVIS 6MM,6423.0,NaN,6078.0,SOE
31,SAVITA AUTO INDUSTRIES (N),HEAD LAMP BKT,1543.0,NaN,2211.0,SOE
32,SAVITA AUTO INDUSTRIES (N),LOCK PLATE PART NO.6142,1000.0,NaN,NaN,SOE
33,SAVITA AUTO INDUSTRIES (N),LOCKING PLATE PART.NO.322,17134.0,NaN,20815.0,SOE
34,SAVITA AUTO INDUSTRIES (N),RETURN SPRING BKT,2614.0,NaN,2497.0,SOE
35,SAVITA AUTO INDUSTRIES (N),STRIKER PLATE WITH BUSH,3348.0,NaN,2200.0,SOE
36,SHREE SIDDHIVINAYAK WELDING WORKS,GUIDE PATTI,2804.0,NaN,NaN,SOE
37,SURYA AUTO INDUSTRIES,GUSSET 37NO,2159.0,NaN,3312.0,SOE
38,SURYA AUTO INDUSTRIES,JN111014 BKT,2500.0,NaN,1700.0,SOE
39,V S AUTO TECH PRIVATE LIMITED,BATTERY COVER BKT,5000.0,NaN,2524.0,SOE
40,V S AUTO TECH PRIVATE LIMITED,DC LEVER CPTE,1182.0,NaN,323.0,SOE
41,V S AUTO TECH PRIVATE LIMITED,FLANGE QUADRANT SIDE,6910.0,3800.0,NaN,SOE
42,V S AUTO TECH PRIVATE LIMITED,FLANGE VTU SIDE,7810.0,4500.0,NaN,SOE
43,V S AUTO TECH PRIVATE LIMITED,LEVER DC ASSY Part No- 007221594U11,NaN,625.0,NaN,SOE
44,V S AUTO TECH PRIVATE LIMITED,LEVER DC ASSY Part No- 007221596U11,NaN,430.0,NaN,SOE
45,V S AUTO TECH PRIVATE LIMITED,LOCK PLATE PART NO.6142,2915.0,NaN,NaN,SOE
46,V S AUTO TECH PRIVATE LIMITED,PC LEVER CPTE M-4 P.NO.007217986B91,388.0,NaN,NaN,SOE
47,V S AUTO TECH PRIVATE LIMITED,PC LEVER CPTE M6 PART.NO.P.NO.007217353B91,3696.0,380.0,1905.0,SOE
48,V S AUTO TECH PRIVATE LIMITED,PC LEVER CRANK CPTE 10MM,1677.0,NaN,994.0,SOE
49,V.S.AUTO TECH PRIVATE LIMITED,BATTERY COVER BKT,NaN,NaN,6500.0,SOE
50,V.S.AUTO TECH PRIVATE LIMITED,DC LEVER CPTE,NaN,NaN,1400.0,SOE
51,V.S.AUTO TECH PRIVATE LIMITED,FLANGE QUADRANT SIDE,NaN,NaN,2915.0,SOE
52,V.S.AUTO TECH PRIVATE LIMITED,FLANGE VTU SIDE,NaN,NaN,3000.0,SOE
53,V.S.AUTO TECH PRIVATE LIMITED,PC LEVER CPTE M6 PART.NO.P.NO.007217353B91,NaN,NaN,2570.0,SOE
54,V.S.AUTO TECH PRIVATE LIMITED,PC LEVER CRANK CPTE 10MM,NaN,NaN,500.0,SOE

In [6]:
zoho_col_list = ['Invoice Number',
'Estimate Number',
'Invoice Date',
'Invoice Status',
'Customer Name',
'GST Treatment',
'TCS Tax Name',
'TCS Percentage',
'TCS Amount',
'Nature Of Collection',
'TCS Payable Account',
'TCS Receivable Account',
'GST Identification Number (GSTIN)',
'TDS Name',
'TDS Percentage',
'TDS Section Code',
'TDS Amount',
'Place of Supply',
'PurchaseOrder',
'Expense Reference ID',
'Payment Terms',
'Payment Terms Label',
'Due Date',
'Expected Payment Date',
'Sales person',
'Shipping Charge Tax Name',
'Shipping Charge Tax Type',
'Shipping Charge Tax %',
'Shipping Charge',
'Shipping Charge Tax Exemption Code',
'Shipping Charge SAC Code',
'Currency Code',
'Exchange Rate',
'Account',
'Item Name',
'SKU',
'Item Desc',
'Item Type',
'HSN/SAC',
'Quantity',
'Usage unit',
'Item Price',
'Item Tax Exemption Reason',
'Is Inclusive Tax',
'Item Tax',
'Item Tax Type',
'Item Tax %',
'Reverse Charge Tax Name',
'Reverse Charge Tax Rate',
'Reverse Charge Tax Type',
'Project Name',
'Supply Type',
'Discount Type',
'Is Discount Before Tax',
'Entity Discount Percent',
'Entity Discount Amount',
'Discount',
'Discount Amount',
'Adjustment',
'Adjustment Description',
'E-Commerce Operator Name',
'E-Commerce Operator GSTIN',
'PayPal',
'Razorpay',
'Partial Payments',
'Template Name',
'Notes',
'Terms & Conditions',
'Branch Name']

In [7]:
# req_cols = ['DATE','GUID','VOUCHERTYPENAME','PARTYLEDGERNAME','PARTYGSTIN','CLASSNAME','PARTYNAME','CONSIGNEEGSTIN','PERSISTEDVIEW','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME','ALLINVENTORYENTRIES.LIST.RATE','ALLINVENTORYENTRIES.LIST.AMOUNT','LEDGERENTRIES.LIST.VATEXPAMOUNT','LEDGERENTRIES.LIST.AMOUNT','ALLINVENTORYENTRIES.LIST.ACTUALQTY','ALLINVENTORYENTRIES.LIST.BILLEDQTY','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.ACTUALQTY','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.BILLEDQTY','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.LEDGERNAME','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.AMOUNT','LEDGERENTRIES.LIST.LEDGERNAME','LEDGERENTRIES.LIST.AMOUNT','LEDGERENTRIES.LIST.VATEXPAMOUNT','INVOICEORDERLIST.LIST.BASICORDERDATE','INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO','REFERENCEDATE','REFERENCE','CONSIGNEEPINNUMBER','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.GSTOVRDNNATURE','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.RATEDETAILS.LIST.GSTRATEDUTYHEAD','ALLLEDGERENTRIES.LIST.OLDAUDITENTRYIDS.LIST.OLDAUDITENTRYIDS','ALLLEDGERENTRIES.LIST.LEDGERNAME','ALLLEDGERENTRIES.LIST.AMOUNT','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.DATE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.INSTRUMENTDATE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.NAME','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.TRANSACTIONTYPE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTFAVOURING','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.CHEQUECROSSCOMMENT','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.UNIQUEREFERENCENUMBER','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.STATUS','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTMODE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.BANKPARTYNAME','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.AMOUNT','NARRATION']
df_raw_collect_soe = pd.DataFrame()
for xt in files_me:
  path_ct = me_list
  xml_file = path_ct+xt
  df_raw_f = xml_to_dataframe_vouchers(xml_file)
  df_raw_f_ref = pd.DataFrame(df_raw_f)[req_cols]
  df_raw_collect_soe = pd.concat([df_raw_collect_soe, df_raw_f_ref]).reset_index(drop=True)
# df_raw_collect_soe
df_raw_soe = df_raw_collect_soe.drop_duplicates(subset='GUID', keep='first').reset_index(drop=True)
df_raw_soe['date_column'] = pd.to_datetime(df_raw_soe['DATE'], format='%Y%m%d')
df_raw_soe = df_raw_soe.sort_values('date_column')
df_raw_soe['date_column_month'] = df_raw_soe['date_column'].dt.month_name()
df_raw_soe['act_qty'] = df_raw_soe['ALLINVENTORYENTRIES.LIST.ACTUALQTY'].str.extract(r'([\d.]+)').astype(float)

df_raw_me_sales = df_raw_soe[df_raw_soe['VOUCHERTYPENAME'].isin(['Sales Gst', 'SALES GST'])]
df_raw_me_sales_sch = df_raw_me_sales.groupby(['date_column_month','PARTYLEDGERNAME','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME'])['act_qty'].sum()

df_schedule_merge_me = pd.DataFrame(df_raw_me_sales_sch).pivot_table(index=['PARTYLEDGERNAME','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME'],columns='date_column_month',values='act_qty',aggfunc='sum').reset_index()
df_schedule_merge_me['FROM']="ME"

# df_schedule = pd.read_excel("/content/drive/MyDrive/tally_export/schedule.xlsx",sheet_name = 'ME')
# df_raw_soe_sales_schedule
# df_schedule_merge_me = pd.merge(df_schedule,df_raw_soe_sales_schedule,on=['PARTYLEDGERNAME','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME'],how='right')

# writer = pd.ExcelWriter("/content/drive/MyDrive/tally_export/schedule_overview.xlsx", engine = 'openpyxl')
# df_schedule_merge_soe.to_excel(writer, sheet_name = 'SOE')
# df_schedule_merge_me.to_excel(writer, sheet_name = 'ME')
# writer.close()
df_raw_me_sales.sort_values('date_column')

,VOUCHERNUMBER,DATE,GUID,VOUCHERTYPENAME,PARTYLEDGERNAME,PARTYGSTIN,CLASSNAME,PARTYNAME,CONSIGNEEGSTIN,PERSISTEDVIEW,...,CONSIGNEEPINNUMBER,ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.GSTOVRDNNATURE,ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.RATEDETAILS.LIST.GSTRATEDUTYHEAD,ALLLEDGERENTRIES.LIST.OLDAUDITENTRYIDS.LIST.OLDAUDITENTRYIDS,ALLLEDGERENTRIES.LIST.LEDGERNAME,ALLLEDGERENTRIES.LIST.AMOUNT,NARRATION,date_column,date_column_month,act_qty
0,25-26/001,20250401,9560e508-101c-4d25-b11f-69c1f97a4f64-00001995,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,Sales Taxable,Cess,NaN,NaN,NaN,NaN,2025-04-01,April,728.0
11,25-26/012,20250401,9560e508-101c-4d25-b11f-69c1f97a4f64-000019a5,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-04-01,April,550.0
10,25-26/011,20250401,9560e508-101c-4d25-b11f-69c1f97a4f64-000019a4,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-04-01,April,700.0
9,25-26/010,20250401,9560e508-101c-4d25-b11f-69c1f97a4f64-000019a3,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-04-01,April,600.0
8,25-26/009,20250401,9560e508-101c-4d25-b11f-69c1f97a4f64-000019a2,Sales Gst,AKAR INDUSTRY UNIT II,27AACFA4208J1ZP,SALES GST 18%,AKAR INDUSTRY UNIT II,27AACFA4208J1ZP,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-04-01,April,6456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,25-26/433,20250610,9560e508-101c-4d25-b11f-69c1f97a4f64-00001c29,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-10,June,400.0
534,25-26/434,20250610,9560e508-101c-4d25-b11f-69c1f97a4f64-00001c2a,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-10,June,91.0
536,25-26/436,20250610,9560e508-101c-4d25-b11f-69c1f97a4f64-00001c2c,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-10,June,217.0
531,25-26/431,20250610,9560e508-101c-4d25-b11f-69c1f97a4f64-00001c27,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-10,June,7000.0
530,25-26/430,20250610,9560e508-101c-4d25-b11f-69c1f97a4f64-00001c26,Sales Gst,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,SALES GST 18%,SHREE SAI ENGINEERING,27AAOPR0585P1ZR,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-10,June,300.0

In [8]:
df_schedule = pd.read_excel("/content/drive/MyDrive/tally_export/schedule_overview.xlsx",sheet_name = 'Planned_Schedule')
# df_raw_soe_sales_schedule
df_schedule

,FROM,TO,part_tally_name,Schedule_May
0,SOE,AKAR INDUSTRY,2MM PTO CAP,16000.0
1,SOE,AKAR INDUSTRY,ANCHOR PLATE DIFF.LOCK LEVER,NaN
2,SOE,AKAR INDUSTRY,BKT BUMPER,NaN
3,SOE,AKAR INDUSTRY,BLANK OF LOCK PLATE DIFF.RING GEAR,NaN
4,SOE,AKAR INDUSTRY,DIFF.CASE LOCK PLATE,NaN
...,...,...,...,...
97,ME,SHREE SAI ENGINEERING,SUPPORT BKT RH FOR SIDE SEALING P.NO.007653373V01,5000.0
98,ME,SHREE SAI ENGINEERING,TOOL BOX BKT LH PART NO.007544527Y92,1000.0
99,ME,SHREE SAI ENGINEERING,TOOL BOX BKT RH PART NO.007532393Y92,1000.0
100,ME,V S AUTO TECH PRIVATE LIMITED,QUARDANT SUPPORT BKT.007208467Y1,NaN
101,ME,V S AUTO TECH PRIVATE LIMITED,U BKT FOR QUADRANT BKT TUBE,NaN

In [9]:
df_concat = pd.concat([df_schedule_merge_me,df_schedule_merge_soe]).rename(columns={"PARTYLEDGERNAME":"TO","ALLINVENTORYENTRIES.LIST.STOCKITEMNAME":"part_tally_name"})
from datetime import date
df_schedule_merge_relate = pd.merge(df_schedule,df_concat,on=['FROM','TO','part_tally_name'],how='right')
df_schedule_merge_relate
month = "May"
df_schedule_merge_relate['balance_'+month+'_'+str(date.today())] = df_schedule_merge_relate['Schedule_'+month]-df_schedule_merge_relate[month]
df_schedule_merge_relate = df_schedule_merge_relate[['FROM','TO','part_tally_name']+[month]+['Schedule_'+month]+['balance_'+month+'_'+str(date.today())]]
df_schedule_merge_relate

,FROM,TO,part_tally_name,May,Schedule_May,balance_May_2025-06-14
0,ME,AKAR INDUSTRY,FREIGHT,NaN,NaN,NaN
1,ME,AKAR INDUSTRY,GUSSET GUIDE MOUNTING,15295.0,15000.0,-295.0
2,ME,AKAR INDUSTRY,HARNESS MOUNTING BKT PART NO.007544975Y01,NaN,NaN,NaN
3,ME,AKAR INDUSTRY,HARNESS MTG BKT CLIP,30500.0,NaN,NaN
4,ME,AKAR INDUSTRY,LUG 1 CHANNEL PART NO.005556488R1,3120.0,NaN,NaN
...,...,...,...,...,...,...
126,SOE,V.S.AUTO TECH PRIVATE LIMITED,DC LEVER CPTE,1400.0,NaN,NaN
127,SOE,V.S.AUTO TECH PRIVATE LIMITED,FLANGE QUADRANT SIDE,2915.0,NaN,NaN
128,SOE,V.S.AUTO TECH PRIVATE LIMITED,FLANGE VTU SIDE,3000.0,NaN,NaN
129,SOE,V.S.AUTO TECH PRIVATE LIMITED,PC LEVER CPTE M6 PART.NO.P.NO.007217353B91,2570.0,NaN,NaN
130,SOE,V.S.AUTO TECH PRIVATE LIMITED,PC LEVER CRANK CPTE 10MM,500.0,NaN,NaN

In [ ]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows

file_path = "/content/drive/MyDrive/tally_export/schedule_overview.xlsx"

# Load existing workbook
wb = load_workbook(filename=file_path)

# Define a function to clear and update a sheet
def update_sheet(sheet_name, df):
    if sheet_name in wb.sheetnames:
        ws = wb[sheet_name]
        # Clear existing cells (except formats)
        for row in ws.iter_rows(min_row=1, max_row=ws.max_row, max_col=ws.max_column):
            for cell in row:
                cell.value = None
    else:
        ws = wb.create_sheet(title=sheet_name)

    # Write new data
    for r_idx, row in enumerate(dataframe_to_rows(df, index=False, header=True), 1):
        for c_idx, value in enumerate(row, 1):
            ws.cell(row=r_idx, column=c_idx, value=value)

# Update only the target sheets
update_sheet('SOE', df_schedule_merge_soe)
update_sheet('ME', df_schedule_merge_me)
update_sheet(month, df_schedule_merge_relate)

# Save to a temp file then replace the original (for GDrive safety)
temp_path = "/content/temp_schedule_overview.xlsx"
wb.save(temp_path)

import shutil
shutil.copy(temp_path, file_path)

'/content/drive/MyDrive/tally_export/schedule_overview.xlsx'

In [12]:
df_raw_soe_sales['date_column'] = pd.to_datetime(df_raw_soe_sales['DATE'], format='%Y%m%d')
df_raw_soe_sales['date_column_zoho'] = df_raw_soe_sales['date_column'].dt.strftime('%Y-%m-%d')
df_raw_soe_sales['date_column_zoho'] = pd.to_datetime(df_raw_soe_sales['date_column_zoho'])
df_raw_soe_sales['week_of_year'] = df_raw_soe_sales['date_column_zoho'].dt.isocalendar().week

df_raw_soe_sales['GST Treatment']="business_gst"
df_raw_soe_sales["Place of Supply"] = "MH"
df_raw_soe_sales["Payment Terms"] = 45
df_raw_soe_sales["Account"] = "Sales"
df_raw_soe_sales["Item Type"] = "goods"
df_raw_soe_sales["HSN/SAC"] = "87081010"
df_raw_soe_sales["Supply Type"] = "Taxable"

df_raw_soe_sales['Invoice Status'] = "open"
df_raw_soe_sales['Item Tax Type'] = "Tax Group"
# try:
df_raw_soe_sales['tax_perc1'] = df_raw_soe_sales['CLASSNAME'].str.extract(r'(\d+)')
df_raw_soe_sales['tax_perc2'] = df_raw_soe_sales['LEDGERENTRIES.LIST.LEDGERNAME'].str.extract(r'(\d+)').fillna(0).astype(int)*2

df_raw_soe_sales['tax_perc'] = df_raw_soe_sales['tax_perc1'].fillna(df_raw_soe_sales['tax_perc2']).astype(int)

#
df_raw_soe_sales['Item Tax'] = "GST"+df_raw_soe_sales['tax_perc'].astype(str)
df_raw_soe_sales['Item Price']=df_raw_soe_sales['ALLINVENTORYENTRIES.LIST.RATE'].str.extract(r'(\d+\.\d+|\d+)').astype(float)
df_raw_soe_sales['Item Price'] = df_raw_soe_sales['Item Price'].fillna(0)
df_raw_soe_sales['PARTYLEDGERNAME'] = df_raw_soe_sales['PARTYLEDGERNAME'].str.replace('V S AUTO TECH PRIVATE LIMITED', 'V.S.AUTO TECH PRIVATE LIMITED')
# df_raw_soe_sales['week_of_year'] = df_raw_soe_sales['date_column_zoho'].dt.isocalendar().week

df_raw_soe_sales['Invoice Number'] = (df_raw_soe_sales['week_of_year'].astype(str)+'-' + df_raw_soe_sales['PARTYLEDGERNAME']).str.replace(' ', '').str.replace('.', '').str[:13]

df_raw_soe_sales_rename = df_raw_soe_sales.rename(columns = {"VOUCHERNUMBER":"Invoice_voucher_Number","date_column_zoho":"Invoice_data_Date","PARTYGSTIN":"GST Identification Number (GSTIN)","INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO":"PurchaseOrder",
                                   "tax_perc":"Item Tax %","ALLINVENTORYENTRIES.LIST.STOCKITEMNAME":"Item Name","act_qty":"Quantity",
                                   "PARTYLEDGERNAME":"Customer Name"})

df_raw_soe_sales_rename['Invoice Date'] = pd.to_datetime('2025') + pd.to_timedelta((df_raw_soe_sales_rename['week_of_year'] - 1) * 7, unit='d')

req_columns = []
for xl in list(df_raw_soe_sales_rename.columns):
  if xl in zoho_col_list:
    req_columns.append(xl)

df_raw_soe_sales_rename['Notes'] = (df_raw_soe_sales_rename['Invoice_data_Date'].astype(str)+'-'+df_raw_soe_sales_rename['Invoice_voucher_Number'].astype(str)+'-'+ df_raw_soe_sales_rename['Item Name'].astype(str)+'-'+ df_raw_soe_sales_rename['Quantity'].astype(str)).str.replace(' ', '')


df_raw_soe_sales_rename = df_raw_soe_sales_rename[~(df_raw_soe_sales_rename['Item Tax']=="GST0")]
df_raw_soe_sales_rename#[df_raw_soe_sales_rename['Customer Name']=='QUICK INDUSTRIAL SUPPLIERS'].loc[257]
df_raw_soe_sales_rename[req_columns+['Notes']].to_csv("/content/drive/MyDrive/tally_export/SOE_zoho_sales_invoice_v1.csv",index=False)

In [16]:
df_raw_me_sales.loc[376]

VOUCHERNUMBER                                                                                                               25-26/299
DATE                                                                                                                         20250519
GUID                                                                                    9560e508-101c-4d25-b11f-69c1f97a4f64-00001b64
VOUCHERTYPENAME                                                                                                             Sales Gst
PARTYLEDGERNAME                                                                                                 SHREE SAI ENGINEERING
PARTYGSTIN                                                                                                            27AAOPR0585P1ZR
CLASSNAME                                                                                                               SALES GST 18%
PARTYNAME                                                                                                       SHREE SAI ENGINEERING
CONSIGNEEGSTIN                                                                                                        27AAOPR0585P1ZR
PERSISTEDVIEW                                                                                                    Invoice Voucher View
ALLINVENTORYENTRIES.LIST.STOCKITEMNAME                                                                      L BKT PART.NO.005556925R1
ALLINVENTORYENTRIES.LIST.RATE                                                                                                2.26/NOS
ALLINVENTORYENTRIES.LIST.AMOUNT                                                                                              18532.00
LEDGERENTRIES.LIST.VATEXPAMOUNT                                                                                               1667.88
LEDGERENTRIES.LIST.AMOUNT                                                                                                     1667.88
ALLINVENTORYENTRIES.LIST.ACTUALQTY                                                                                           8200 NOS
ALLINVENTORYENTRIES.LIST.BILLEDQTY                                                                                           8200 NOS
ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT                                                                        18532.00
ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.ACTUALQTY                                                                     8200 NOS
ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.BILLEDQTY                                                                     8200 NOS
ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.LEDGERNAME                                                          SALES GST 18%
ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.AMOUNT                                                                   18532.00
LEDGERENTRIES.LIST.LEDGERNAME                                                                                         OUTPUT S GST 9%
LEDGERENTRIES.LIST.AMOUNT                                                                                                     1667.88
LEDGERENTRIES.LIST.VATEXPAMOUNT                                                                                               1667.88
INVOICEORDERLIST.LIST.BASICORDERDATE                                                                                         20250519
INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO                                                                     PO.NO.SSE/24-25/113/01
REFERENCEDATE                                                                                                                     NaN
REFERENCE                                                                                                                         NaN
CONSIGNEEPINNUMBER                                                                                                                NaN
ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.GSTOVRDNNATURE                                                                NaN
ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.RATEDETAILS.LIST.GSTRATEDUTYHEAD                                             Cess
ALLLEDGERENTRIES.LIST.OLDAUDITENTRYIDS.LIST.OLDAUDITENTRYIDS                                                                      NaN
ALLLEDGERENTRIES.LIST.LEDGERNAME                                                                                                  NaN
ALLLEDGERENTRIES.LIST.AMOUNT                                                                                                      NaN
NARRATION                                                                                                                         NaN
date_column                                                                                                       2025-05-19 00:00:00
date_column_month                                                                                                                 May
act_qty                                                                                                                        8200.0
date_column_zoho                                                                                                  2025-05-19 00:00:00
week_of_year                                                                                                                       21
GST Treatment                                                                                                            business_gst
Place of Supply                                                                                                                    MH
Payment Terms                                                                                                                      45
Account                                                                                                                         Sales
Item Type                                                                                                                       goods
HSN/SAC                                                                                                                      87081010
Supply Type                                                                                                                   Taxable
Invoice Status                                                                                                                   open
Item Tax Type                                                                                                               Tax Group
tax_perc1                                                                                                                          18
tax_perc2                                                                                                                          18
tax_perc                                                                                                                           18
Item Tax                                                                                                                        GST18
Item Price                                                                                                                       2.26
Invoice Number                                                                                                       21-SHREESAIENGIN
Name: 376, dtype: object

In [19]:
df_raw_me_sales.loc[503]#[df_raw_me_sales['PARTYLEDGERNAME']=='GANESH MULTITECH ENGG PVT LTD']

VOUCHERNUMBER                                                                                                               25-26/405
DATE                                                                                                                         20250607
GUID                                                                                    9560e508-101c-4d25-b11f-69c1f97a4f64-00001c02
VOUCHERTYPENAME                                                                                                             Sales Gst
PARTYLEDGERNAME                                                                                         GANESH MULTITECH ENGG PVT LTD
PARTYGSTIN                                                                                                            27AADCG1457H1ZO
CLASSNAME                                                                                                               SALES GST 18%
PARTYNAME                                                                                               GANESH MULTITECH ENGG PVT LTD
CONSIGNEEGSTIN                                                                                                        27AADCG1457H1ZO
PERSISTEDVIEW                                                                                                    Invoice Voucher View
ALLINVENTORYENTRIES.LIST.STOCKITEMNAME                                                                               TRANSPORT CHARGE
ALLINVENTORYENTRIES.LIST.RATE                                                                                                     NaN
ALLINVENTORYENTRIES.LIST.AMOUNT                                                                                                200.00
LEDGERENTRIES.LIST.VATEXPAMOUNT                                                                                                368.42
LEDGERENTRIES.LIST.AMOUNT                                                                                                      368.42
ALLINVENTORYENTRIES.LIST.ACTUALQTY                                                                                                NaN
ALLINVENTORYENTRIES.LIST.BILLEDQTY                                                                                                NaN
ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT                                                                          200.00
ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.ACTUALQTY                                                                          NaN
ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.BILLEDQTY                                                                          NaN
ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.LEDGERNAME                                                          SALES GST 18%
ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.AMOUNT                                                                     200.00
LEDGERENTRIES.LIST.LEDGERNAME                                                                                         OUTPUT S GST 9%
LEDGERENTRIES.LIST.AMOUNT                                                                                                      368.42
LEDGERENTRIES.LIST.VATEXPAMOUNT                                                                                                368.42
INVOICEORDERLIST.LIST.BASICORDERDATE                                                                                              NaN
INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO                                                                                        NaN
REFERENCEDATE                                                                                                                     NaN
REFERENCE                                                                                                                         NaN
CONSIGNEEPINNUMBER                                                                                                                NaN
ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.GSTOVRDNNATURE                                                                NaN
ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.RATEDETAILS.LIST.GSTRATEDUTYHEAD                                              NaN
ALLLEDGERENTRIES.LIST.OLDAUDITENTRYIDS.LIST.OLDAUDITENTRYIDS                                                                      NaN
ALLLEDGERENTRIES.LIST.LEDGERNAME                                                                                                  NaN
ALLLEDGERENTRIES.LIST.AMOUNT                                                                                                      NaN
NARRATION                                                                                                                         NaN
date_column                                                                                                       2025-06-07 00:00:00
date_column_month                                                                                                                June
act_qty                                                                                                                           NaN
date_column_zoho                                                                                                  2025-06-07 00:00:00
week_of_year                                                                                                                       23
GST Treatment                                                                                                            business_gst
Place of Supply                                                                                                                    MH
Payment Terms                                                                                                                      45
Account                                                                                                                         Sales
Item Type                                                                                                                       goods
HSN/SAC                                                                                                                      87081010
Supply Type                                                                                                                   Taxable
Invoice Status                                                                                                                   open
Item Tax Type                                                                                                               Tax Group
tax_perc1                                                                                                                          18
tax_perc2                                                                                                                          18
tax_perc                                                                                                                           18
Item Tax                                                                                                                        GST18
Item Price                                                                                                                        0.0
Invoice Number                                                                                                       23-GANESHMULTITE
Name: 503, dtype: object

In [13]:
df_raw_me_sales['date_column'] = pd.to_datetime(df_raw_me_sales['DATE'], format='%Y%m%d')
df_raw_me_sales['date_column_zoho'] = df_raw_me_sales['date_column'].dt.strftime('%Y-%m-%d')
df_raw_me_sales['date_column_zoho'] = pd.to_datetime(df_raw_me_sales['date_column_zoho'])
df_raw_me_sales['week_of_year'] = df_raw_me_sales['date_column_zoho'].dt.isocalendar().week

df_raw_me_sales['GST Treatment']="business_gst"
df_raw_me_sales["Place of Supply"] = "MH"
df_raw_me_sales["Payment Terms"] = 45
df_raw_me_sales["Account"] = "Sales"
df_raw_me_sales["Item Type"] = "goods"
df_raw_me_sales["HSN/SAC"] = "87081010"
df_raw_me_sales["Supply Type"] = "Taxable"

df_raw_me_sales['Invoice Status'] = "open"
df_raw_me_sales['Item Tax Type'] = "Tax Group"
# try:
df_raw_me_sales['tax_perc1'] = df_raw_me_sales['CLASSNAME'].str.extract(r'(\d+)')
df_raw_me_sales['tax_perc2'] = df_raw_me_sales['LEDGERENTRIES.LIST.LEDGERNAME'].str.extract(r'(\d+)').fillna(0).astype(int)*2

df_raw_me_sales['tax_perc'] = df_raw_me_sales['tax_perc1'].fillna(df_raw_me_sales['tax_perc2']).astype(int)

#
df_raw_me_sales['Item Tax'] = "GST"+df_raw_me_sales['tax_perc'].astype(str)
df_raw_me_sales['Item Price']=df_raw_me_sales['ALLINVENTORYENTRIES.LIST.RATE'].str.extract(r'(\d+\.\d+|\d+)').astype(float)
df_raw_me_sales['Item Price'] = df_raw_me_sales['Item Price'].fillna(0)
df_raw_me_sales['PARTYLEDGERNAME'] = df_raw_me_sales['PARTYLEDGERNAME'].str.replace('V S AUTO TECH PRIVATE LIMITED', 'V.S.AUTO TECH PRIVATE LIMITED')
# df_raw_soe_sales['week_of_year'] = df_raw_soe_sales['date_column_zoho'].dt.isocalendar().week

df_raw_me_sales['Invoice Number'] = (df_raw_me_sales['week_of_year'].astype(str)+'-' + df_raw_me_sales['PARTYLEDGERNAME']).str.replace(' ', '').str.replace('.', '').str[:16]

df_raw_me_sales_rename = df_raw_me_sales.rename(columns = {"VOUCHERNUMBER":"Invoice_voucher_Number","date_column_zoho":"Invoice_data_Date","PARTYGSTIN":"GST Identification Number (GSTIN)","INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO":"PurchaseOrder",
                                   "tax_perc":"Item Tax %","ALLINVENTORYENTRIES.LIST.STOCKITEMNAME":"Item Name","act_qty":"Quantity",
                                   "PARTYLEDGERNAME":"Customer Name"})

df_raw_me_sales_rename['Invoice Date'] = pd.to_datetime('2025') + pd.to_timedelta((df_raw_me_sales_rename['week_of_year'] - 1) * 7, unit='d')

req_columns = []
for xl in list(df_raw_me_sales_rename.columns):
  if xl in zoho_col_list:
    req_columns.append(xl)

df_raw_me_sales_rename['Notes'] = (df_raw_me_sales_rename['Invoice_data_Date'].astype(str)+'-'+df_raw_me_sales_rename['Invoice_voucher_Number'].astype(str)+'-'+ df_raw_me_sales_rename['Item Name'].astype(str)+'-'+ df_raw_me_sales_rename['Quantity'].astype(str)).str.replace(' ', '')


df_raw_me_sales_rename = df_raw_me_sales_rename[~(df_raw_me_sales_rename['Item Tax']=="GST0")]
df_raw_me_sales_rename#[df_raw_soe_sales_rename['Customer Name']=='QUICK INDUSTRIAL SUPPLIERS'].loc[257]
df_raw_me_sales_rename[req_columns+['Notes']].to_csv("/content/drive/MyDrive/tally_export/ME_zoho_sales_invoice_v1.csv",index=False)

<ipython-input-13-255744107>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['date_column'] = pd.to_datetime(df_raw_me_sales['DATE'], format='%Y%m%d')
<ipython-input-13-255744107>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['date_column_zoho'] = df_raw_me_sales['date_column'].dt.strftime('%Y-%m-%d')
<ipython-input-13-255744107>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['date_column_zoho'] = pd.to_datetime(df_raw_me_sales['date_column_zoho'])
<ipython-input-13-255744107>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['week_of_year'] = df_raw_me_sales['date_column_zoho'].dt.isocalendar().week
<ipython-input-13-255744107>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['GST Treatment']="business_gst"
<ipython-input-13-255744107>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Place of Supply"] = "MH"
<ipython-input-13-255744107>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Payment Terms"] = 45
<ipython-input-13-255744107>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Account"] = "Sales"
<ipython-input-13-255744107>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Item Type"] = "goods"
<ipython-input-13-255744107>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["HSN/SAC"] = "87081010"
<ipython-input-13-255744107>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Supply Type"] = "Taxable"
<ipython-input-13-255744107>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Invoice Status'] = "open"
<ipython-input-13-255744107>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Item Tax Type'] = "Tax Group"
<ipython-input-13-255744107>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['tax_perc1'] = df_raw_me_sales['CLASSNAME'].str.extract(r'(\d+)')
<ipython-input-13-255744107>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['tax_perc2'] = df_raw_me_sales['LEDGERENTRIES.LIST.LEDGERNAME'].str.extract(r'(\d+)').fillna(0).astype(int)*2
<ipython-input-13-255744107>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['tax_perc'] = df_raw_me_sales['tax_perc1'].fillna(df_raw_me_sales['tax_perc2']).astype(int)
<ipython-input-13-255744107>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Item Tax'] = "GST"+df_raw_me_sales['tax_perc'].astype(str)
<ipython-input-13-255744107>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Item Price']=df_raw_me_sales['ALLINVENTORYENTRIES.LIST.RATE'].str.extract(r'(\d+\.\d+|\d+)').astype(float)
<ipython-input-13-255744107>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Item Price'] = df_raw_me_sales['Item Price'].fillna(0)
<ipython-input-13-255744107>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['PARTYLEDGERNAME'] = df_raw_me_sales['PARTYLEDGERNAME'].str.replace('V S AUTO TECH PRIVATE LIMITED', 'V.S.AUTO TECH PRIVATE LIMITED')
<ipython-input-13-255744107>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Invoice Number'] = (df_raw_me_sales['week_of_year'].astype(str)+'-' + df_raw_me_sales['PARTYLEDGERNAME']).str.replace(' ', '').str.replace('.', '').str[:16]

In [ ]:
# df_raw_me_sales['date_column_zoho'] = pd.to_datetime(df_raw_me_sales['DATE'], format='%Y%m%d')
# df_raw_me_sales['date_column_zoho'] = df_raw_me_sales['date_column_zoho'].dt.strftime('%Y-%m-%d')
# df_raw_me_sales['GST Treatment']="business_gst"
# df_raw_me_sales["Place of Supply"] = "MH"
# df_raw_me_sales["Payment Terms"] = 45
# df_raw_me_sales["Account"] = "Sales"
# df_raw_me_sales["Item Type"] = "goods"
# df_raw_me_sales["HSN/SAC"] = "87081010"
# df_raw_me_sales["Supply Type"] = "Taxable"

# df_raw_me_sales['Invoice Status'] = "open"
# df_raw_me_sales['Item Tax Type'] = "Tax Group"
# # try:
# df_raw_me_sales['tax_perc1'] = df_raw_me_sales['CLASSNAME'].str.extract(r'(\d+)')
# df_raw_me_sales['tax_perc2'] = df_raw_me_sales['LEDGERENTRIES.LIST.LEDGERNAME'].str.extract(r'(\d+)').fillna(0).astype(int)*2

# df_raw_me_sales['tax_perc'] = df_raw_me_sales['tax_perc1'].fillna(df_raw_me_sales['tax_perc2']).astype(int)

# #
# df_raw_me_sales['Item Tax'] = "GST"+df_raw_me_sales['tax_perc'].astype(str)
# df_raw_me_sales['Item Price']=df_raw_me_sales['ALLINVENTORYENTRIES.LIST.RATE'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

# df_raw_me_sales_rename = df_raw_me_sales.rename(columns = {"VOUCHERNUMBER":"Invoice Number","date_column_zoho":"Invoice Date","PARTYGSTIN":"GST Identification Number (GSTIN)","INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO":"PurchaseOrder",
#                                    "tax_perc":"Item Tax %","ALLINVENTORYENTRIES.LIST.STOCKITEMNAME":"Item Name","act_qty":"Quantity",
#                                    "PARTYLEDGERNAME":"Customer Name"})

# req_columns = []
# for xl in list(df_raw_me_sales_rename.columns):
#   if xl in zoho_col_list:
#     req_columns.append(xl)

# df_raw_me_sales_rename[req_columns].to_csv("/content/drive/MyDrive/tally_export/ME_zoho_sales_invoice.csv",index=False)

<ipython-input-176-daac481d7437>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['date_column_zoho'] = pd.to_datetime(df_raw_me_sales['DATE'], format='%Y%m%d')
<ipython-input-176-daac481d7437>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['date_column_zoho'] = df_raw_me_sales['date_column_zoho'].dt.strftime('%Y-%m-%d')
<ipython-input-176-daac481d7437>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['GST Treatment']="business_gst"
<ipython-input-176-daac481d7437>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Place of Supply"] = "MH"
<ipython-input-176-daac481d7437>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Payment Terms"] = 45
<ipython-input-176-daac481d7437>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Account"] = "Sales"
<ipython-input-176-daac481d7437>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Item Type"] = "goods"
<ipython-input-176-daac481d7437>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["HSN/SAC"] = "87081010"
<ipython-input-176-daac481d7437>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales["Supply Type"] = "Taxable"
<ipython-input-176-daac481d7437>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Invoice Status'] = "open"
<ipython-input-176-daac481d7437>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Item Tax Type'] = "Tax Group"
<ipython-input-176-daac481d7437>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['tax_perc1'] = df_raw_me_sales['CLASSNAME'].str.extract(r'(\d+)')
<ipython-input-176-daac481d7437>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['tax_perc2'] = df_raw_me_sales['LEDGERENTRIES.LIST.LEDGERNAME'].str.extract(r'(\d+)').fillna(0).astype(int)*2
<ipython-input-176-daac481d7437>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['tax_perc'] = df_raw_me_sales['tax_perc1'].fillna(df_raw_me_sales['tax_perc2']).astype(int)
<ipython-input-176-daac481d7437>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Item Tax'] = "GST"+df_raw_me_sales['tax_perc'].astype(str)
<ipython-input-176-daac481d7437>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_me_sales['Item Price']=df_raw_me_sales['ALLINVENTORYENTRIES.LIST.RATE'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [ ]:
# def add_req_fields(df):
#   df['party_name'] = df[['PARTYNAME', 'ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTFAVOURING', 'ALLLEDGERENTRIES.LIST.LEDGERNAME']].bfill(axis=1).iloc[:, 0]
#   df['tax_out_1'] = df[['LEDGERENTRIES.LIST.AMOUNT']].bfill(axis=1).iloc[:, 0]
#   df['tax_out_2'] = df[['LEDGERENTRIES.LIST.VATEXPAMOUNT']].bfill(axis=1).iloc[:, 0]

#   # df[''] = df[''].astype(float)
#   df['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT'] = df['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT'].astype(float)
#   df['tax_out_1'] = df['tax_out_1'].astype(float)
#   df['tax_out_2'] = df['tax_out_2'].astype(float)

#   df['amount_coalesce'] = df[['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT', 'ALLLEDGERENTRIES.LIST.AMOUNT']].bfill(axis=1).iloc[:, 0]
#   df['amount_coalesce'] = df['amount_coalesce'].astype(float)
#   df['tax_coalesce'] = df[['tax_out_1', 'tax_out_2']].sum(axis=1)
#   df['total_coalesce'] = df[['tax_coalesce', 'amount_coalesce']].sum(axis=1)

#   df = df[['party_name','total_coalesce','amount_coalesce','tax_coalesce','tax_out_1','tax_out_2']+req_cols]
#   return df

In [ ]:
# df_me = add_req_fields(df_raw_me)
# df_me['DATE'] = pd.to_datetime(df_me['DATE'])
# df_me['month_of_day'] =df_me['DATE'].dt.month
# df_me['quarter_of_day'] =df_me['DATE'].dt.quarter

# df_soe = add_req_fields(df_raw_soe)
# df_soe['DATE'] = pd.to_datetime(df_soe['DATE'])
# df_soe['month_of_day'] =df_soe['DATE'].dt.month
# df_soe['quarter_of_day'] =df_soe['DATE'].dt.quarter

In [ ]:

# df_soe['total_coalesce'] = df_soe['total_coalesce'].astype('float')
# df_summary_all_soe = pd.pivot_table(df_soe, values='total_coalesce', index='party_name', columns='VOUCHERTYPENAME', aggfunc='sum').reset_index()
# df_summary_all_soe['balance'] = 0
# df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='TIRUMALA MULTI TECHNOLOGIES'].index,'balance'] = 467646
# df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='SAVITA AUTO INDUSTRIES (N)'].index,'balance'] = 195853
# df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='PATIL-N-PATIL ENGINEERING	'].index,'balance'] = 55660
# df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='NANDAMURI TECHNOS'].index,'balance'] = 35255
# df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='V.S.AUTO TECH PRIVATE LIMITED'].index,'balance'] = 4699956
# df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='A.B.ENGINEERING WORKS'].index,'balance'] = 11598

# df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='AKAR INDUSTRY'].index,'balance'] = 317899

# df_summary_all_soe.loc[df_summary_all_soe[df_summary_all_soe['party_name']=='SURYA AUTO INDUSTRIES'].index,'balance'] = 23165


# df_summary_all_soe = df_summary_all_soe.fillna(0)
# df_summary_all_soe['total_due']=df_summary_all_soe[['Contra', 'Credit Note', 'DELIVERY CHALLAN', 'Debit Note',
#        'Journal', 'Payment', 'Purchase', 'Receipt', 'SALES GST', 'balance']].sum(axis=1)

# df_me['total_coalesce'] = df_me['total_coalesce'].astype('float')
# df_summary_all_me = pd.pivot_table(df_me, values='total_coalesce', index='party_name', columns='VOUCHERTYPENAME', aggfunc='sum').reset_index()
# df_summary_all_me['balance'] = 0
# df_summary_all_me = df_summary_all_me.fillna(0)
# df_summary_all_me['total_due']=df_summary_all_me[[ 'Contra','Delivery Note','Debit Note','Sales Gst', 'Journal', 'Payment', 'Purchase', 'Receipt','Sales Gst','balance']].sum(axis=1)

In [ ]:
# terms = ['SHREE SAI ENGINEERING', 'XYZ COMPANY'] # Function to match and replace terms def match_and_replace(transaction): for term in terms: if term.replace(" ", "").lower() in transaction.replace(" ", "").lower(): return term return transaction # Or return a default value if no match is found # Apply function to the column df['renamed_column'] = df['transaction_column'

In [ ]:
# # df_bank_match
# df_summary_all_bank_soe = pd.merge(df_summary_all_soe,df_bank_match_overview_soe,on=['party_name'],how='outer')
# df_summary_all_bank_soe = df_summary_all_bank_soe.sort_values(by='SALES GST', key=lambda x: x.isna()).reset_index(drop=True).sort_values(by='SALES GST', ascending=False).reset_index(drop=True)

# # df_bank_match
# df_summary_all_bank_me = pd.merge(df_summary_all_me,df_bank_match_overview_me,on=['party_name'],how='outer')
# df_summary_all_bank_me = df_summary_all_bank_me.sort_values(by='Sales Gst', key=lambda x: x.isna()).reset_index(drop=True).sort_values(by='Sales Gst', ascending=False).reset_index(drop=True)

In [ ]:

# df_sales = df_soe[df_soe['VOUCHERTYPENAME']=='SALES GST'].reset_index(drop=True)
# # df_sales = df_sales.rename(columns={'ALLINVENTORYENTRIES.LIST.AMOUNT': 'sales_amount'})
# df_sales_g = df_sales.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"total_sales","PARTYLEDGERNAME":"party_name"})
# date_45d = max(df_sales['DATE']) - pd.Timedelta(days=45)
# due45 = df_sales[df_sales['DATE'] > date_45d]
# due45_g = due45.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_45d","PARTYLEDGERNAME":"party_name"})

# date_60d = max(df_sales['DATE']) - pd.Timedelta(days=60)
# due60 = df_sales[df_sales['DATE'] > date_60d]
# due60_g = due60.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_60d","PARTYLEDGERNAME":"party_name"})

# date_90d = max(df_sales['DATE']) - pd.Timedelta(days=90)
# due90 = df_sales[df_sales['DATE'] > date_90d]
# due90_g = due90.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_90d","PARTYLEDGERNAME":"party_name"})

# # df_summary_all_bank_soe_due = pd.merge(df_summary_all_bank_soe,df_sales_g,on=['party_name'],how='left')
# df_summary_all_bank_soe_due = pd.merge(df_summary_all_bank_soe,due45_g,on=['party_name'],how='left')
# df_summary_all_bank_soe_due = pd.merge(df_summary_all_bank_soe_due,due60_g,on=['party_name'],how='left')
# df_summary_all_bank_soe_due = pd.merge(df_summary_all_bank_soe_due,due90_g,on=['party_name'],how='left')
# df_summary_all_bank_soe_due = df_summary_all_bank_soe_due.fillna(0)
# df_summary_all_bank_soe_due['true_credit'] = df_summary_all_bank_soe_due['Credit']-df_summary_all_bank_soe_due['balance']
# # df_summary_all_bank_soe_due

In [ ]:

# df_sales = df_me[df_me['VOUCHERTYPENAME']=='Sales Gst'].reset_index(drop=True)
# # df_sales = df_sales.rename(columns={'ALLINVENTORYENTRIES.LIST.AMOUNT': 'sales_amount'})
# df_sales_g = df_sales.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"total_sales","PARTYLEDGERNAME":"party_name"})
# date_45d = max(df_sales['DATE']) - pd.Timedelta(days=45)
# due45 = df_sales[df_sales['DATE'] > date_45d]
# due45_g = due45.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_45d","PARTYLEDGERNAME":"party_name"})

# date_60d = max(df_sales['DATE']) - pd.Timedelta(days=60)
# due60 = df_sales[df_sales['DATE'] > date_60d]
# due60_g = due60.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_60d","PARTYLEDGERNAME":"party_name"})

# date_90d = max(df_sales['DATE']) - pd.Timedelta(days=90)
# due90 = df_sales[df_sales['DATE'] > date_90d]
# due90_g = due90.groupby(['PARTYLEDGERNAME'])['total_coalesce'].sum().reset_index().rename(columns={"total_coalesce":"Sale_90d","PARTYLEDGERNAME":"party_name"})

# # df_summary_all_bank_me_due = pd.merge(df_summary_all_bank_me,df_sales_g,on=['party_name'],how='left')
# df_summary_all_bank_me_due = pd.merge(df_summary_all_bank_me,due45_g,on=['party_name'],how='left')
# df_summary_all_bank_me_due = pd.merge(df_summary_all_bank_me_due,due60_g,on=['party_name'],how='left')
# df_summary_all_bank_me_due = pd.merge(df_summary_all_bank_me_due,due90_g,on=['party_name'],how='left')
# df_summary_all_bank_me_due = df_summary_all_bank_me_due.fillna(0)
# df_summary_all_bank_me_due['true_credit'] = df_summary_all_bank_me_due['Credit']-df_summary_all_bank_me_due['balance']
# # df_summary_all_bank_me_due

In [ ]:
# import numpy as np
# columns_to_round_soe = ['Contra', 'Credit Note', 'DELIVERY CHALLAN', 'Debit Note','Journal', 'Payment', 'Purchase', 'Receipt', 'SALES GST', 'balance','total_due', 'Debit', 'Credit','Sale_45d','Sale_60d','Sale_90d']
# df_summary_all_bank_soe_due[columns_to_round_soe] = df_summary_all_bank_soe_due[columns_to_round_soe].apply(np.ceil)

# columns_to_round_me = ['Contra', 'Debit Note', 'Delivery Note', 'Journal','Payment', 'Purchase', 'Receipt', 'Sales Gst', 'balance', 'total_due','Debit', 'Credit','Sale_45d','Sale_60d','Sale_90d']
# df_summary_all_bank_me_due[columns_to_round_me] = df_summary_all_bank_me_due[columns_to_round_me].apply(np.ceil)

In [ ]:
# import pandas as pd
# from openpyxl import load_workbook
# from datetime import datetime

# # Define file path and sheet name
# file_path = "/content/drive/My Drive/2024_25/daybook.xlsx"
# original_sheet_name = "SOE_overview"

# # Get the current date to use in the renamed sheet name
# date_str = datetime.now().strftime("%Y_%m_%d")
# renamed_sheet_name = f"{original_sheet_name}_{date_str}"

# # Load the workbook and rename the sheet if it exists
# workbook = load_workbook(file_path)

# if original_sheet_name in workbook.sheetnames:
#     # Rename the existing sheet
#     sheet = workbook[original_sheet_name]
#     sheet.title = renamed_sheet_name
#     sheet.sheet_state = 'hidden'  # Hide the sheet

# # Save the workbook after renaming and hiding the sheet
# workbook.save(file_path)

# # Write the new data to the original sheet name
# with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
#     df_summary_all_bank_soe_due.to_excel(writer, sheet_name=original_sheet_name, index=False)

In [ ]:
# original_sheet_name = "SOE_raw_xml"

# # Get the current date to use in the renamed sheet name
# date_str = datetime.now().strftime("%Y_%m_%d")
# renamed_sheet_name = f"{original_sheet_name}_{date_str}"

# # Load the workbook and rename the sheet if it exists
# workbook = load_workbook(file_path)

# if original_sheet_name in workbook.sheetnames:
#     # Rename the existing sheet
#     sheet = workbook[original_sheet_name]
#     sheet.title = renamed_sheet_name
#     sheet.sheet_state = 'hidden'  # Hide the sheet

# # Save the workbook after renaming and hiding the sheet
# workbook.save(file_path)

# # Write the new data to the original sheet name
# with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
#     df_soe.to_excel(writer, sheet_name=original_sheet_name, index=False)

In [ ]:
# original_sheet_name = "ME_overview"

# # Get the current date to use in the renamed sheet name
# date_str = datetime.now().strftime("%Y_%m_%d")
# renamed_sheet_name = f"{original_sheet_name}_{date_str}"

# # Load the workbook and rename the sheet if it exists
# workbook = load_workbook(file_path)

# if original_sheet_name in workbook.sheetnames:
#     # Rename the existing sheet
#     sheet = workbook[original_sheet_name]
#     sheet.title = renamed_sheet_name
#     sheet.sheet_state = 'hidden'  # Hide the sheet

# # Save the workbook after renaming and hiding the sheet
# workbook.save(file_path)

# # Write the new data to the original sheet name
# with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
#     df_summary_all_bank_me_due.to_excel(writer, sheet_name=original_sheet_name, index=False)

In [ ]:
# original_sheet_name = "ME_raw_xml"

# # Get the current date to use in the renamed sheet name
# date_str = datetime.now().strftime("%Y_%m_%d")
# renamed_sheet_name = f"{original_sheet_name}_{date_str}"

# # Load the workbook and rename the sheet if it exists
# workbook = load_workbook(file_path)

# if original_sheet_name in workbook.sheetnames:
#     # Rename the existing sheet
#     sheet = workbook[original_sheet_name]
#     sheet.title = renamed_sheet_name
#     sheet.sheet_state = 'hidden'  # Hide the sheet

# # Save the workbook after renaming and hiding the sheet
# workbook.save(file_path)

# # Write the new data to the original sheet name
# with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
#     df_me.to_excel(writer, sheet_name=original_sheet_name, index=False)

In [ ]:
# original_sheet_name = "SOE24-25"

# # Get the current date to use in the renamed sheet name
# date_str = datetime.now().strftime("%Y_%m_%d")
# renamed_sheet_name = f"{original_sheet_name}_{date_str}"

# # Load the workbook and rename the sheet if it exists
# workbook = load_workbook(file_path)

# if original_sheet_name in workbook.sheetnames:
#     # Rename the existing sheet
#     sheet = workbook[original_sheet_name]
#     sheet.title = renamed_sheet_name
#     sheet.sheet_state = 'hidden'  # Hide the sheet

# # Save the workbook after renaming and hiding the sheet
# workbook.save(file_path)

# # Write the new data to the original sheet name
# with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
#     df_bank_match_soe.to_excel(writer, sheet_name=original_sheet_name, index=False)

In [ ]:
# original_sheet_name = "ME24-25"

# # Get the current date to use in the renamed sheet name
# date_str = datetime.now().strftime("%Y_%m_%d")
# renamed_sheet_name = f"{original_sheet_name}_{date_str}"

# # Load the workbook and rename the sheet if it exists
# workbook = load_workbook(file_path)

# if original_sheet_name in workbook.sheetnames:
#     # Rename the existing sheet
#     sheet = workbook[original_sheet_name]
#     sheet.title = renamed_sheet_name
#     sheet.sheet_state = 'hidden'  # Hide the sheet

# # Save the workbook after renaming and hiding the sheet
# workbook.save(file_path)

# # Write the new data to the original sheet name
# with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
#     df_bank_match_me.to_excel(writer, sheet_name=original_sheet_name, index=False)

In [ ]:
# df_summary_all_bank_soe_due.to_excel("/content/drive/My Drive/2024_25/daybook.xlsx",sheet_name='SOE_overview')

# with pd.ExcelWriter("/content/drive/My Drive/2024_25/daybook.xlsx",mode='a') as writer:
#   df_soe.to_excel(writer,sheet_name='SOE_raw_xml')
# with pd.ExcelWriter("/content/drive/My Drive/2024_25/daybook.xlsx",mode='a') as writer:
#   df_summary_all_bank_me_due.to_excel(writer,sheet_name='ME_overview')
# with pd.ExcelWriter("/content/drive/My Drive/2024_25/daybook.xlsx",mode='a') as writer:
#   df_me.to_excel(writer,sheet_name='ME_raw_xml')