<a href="https://colab.research.google.com/github/omkar-salunke/accounts/blob/main/ME_TALLY_Daybook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# prompt: list of files in the path in python

import os
import pandas as pd
path = '/content/drive/My Drive/2024_25'  # Replace with your desired path
files = os.listdir(path)
print(files)

['MEBook.xml', 'SOE.XML', 'MEDayBook.xlsx', 'SOEDayBook_2024-10-12.xlsx', 'overview_account.xlsx', 'SOE_daybook.xlsx']

In [ ]:
path_overview = '/content/drive/My Drive'  # Replace with your desired path
files_overview = os.listdir(path_overview)
print(files_overview)

['College payment.gsheet', 'OMKAR_SALUNKE (1).doc', 'OMKAR_SALUNKE.doc', 'OMKAR_SALUNKE_.doc', 'OMKAR_SALUNKE_.docx', 'IMG_3288.JPG', 'ASUS zenphone mobile bill Invoice OD40808172237.pdf', 'Mayuri docs', 'General Documents', 'Details for Forms', 'Screenshot_2017-05-11-03-51-30_1.jpg', 'Screenshot_2017-05-11-03-49-51_1.jpg', 'OMKAR_SALUNKE_-1 (1)cv.docx', 'IMG_2427.MOV', 'Samsung j7 prime Bill omkar .pdf', 'Google Photos', 'OMKAR_SALUNKE (5).pdf', 'vehicle', 'Trimmer (Responses).gsheet', 'muthu sir vestas no', 'Untitled document (2).gdoc', 'PD.rar', 'Untitled document (1).gdoc', 'BIO.gdoc', 'Colab Notebooks', 'LIV D 0612.xlsx', 'bubula.csv', 'Statistics_course.gslides', 'IDEA_Sheet.gsheet', 'IDEA_Sheet.xlsx', 'Omkar Sign Signature', 'in.gov.transport-RVCER-MH20FU4147.pdf', 'Omkar_photos.zip', 'IMG_0578.jpg', 'miscellaneous', 'VID_20220531_234416.mp4', 'Copy of Habit Tracker Tutorial - @thinklikeagirlboss.gsheet', 'Copy of Habits Tracker 2023 âœ… Track your Habits with Google Sheets - Start MONDAY - Google Sheets GeeksðŸ¤“.gsheet', 'obsidian', 'claccic.zip', 'SS_NIAPOLICYSCHEDULECIRTIFICATESS_48882226.pdf', 'Copy of Data Science Consulting by Slidesgo.gslides', 'Untitled spreadsheet.gsheet', 'Untitled document.gdoc', 'Credit Card Statement.pdf', 'TW_NIAPOLICYSCHEDULECIRTIFICATETW_17026788.pdf', 'TW_NIAPOLICYSCHEDULECIRTIFICATETW_17030054.pdf', 'TW_COLLECTIONRECEIPT_17030055.pdf', 'TW_COLLECTIONRECEIPT_17030055 (2).gdoc', 'TW_COLLECTIONRECEIPT_17030055 (1).gdoc', 'TW_NIAPOLICYSCHEDULECIRTIFICATETW_17030054 (1).gdoc', 'TW_COLLECTIONRECEIPT_17030055.gdoc', 'TW_NIAPOLICYSCHEDULECIRTIFICATETW_17030054.gdoc', 'TW_NIAPOLICYSCHEDULECIRTIFICATETW_17026788.gdoc', 'SS_NIAPOLICYSCHEDULECIRTIFICATESS_48882226.gdoc', 'in.gov.transport-RVCER-MH20FU4147.gdoc', 'Home.gsheet', 'Resume Example.docx', 'resume', 'Info_sheet.gform', 'Copy of Radial Pencil â€“ by PresentationGO.gslides', '2024_25', 'SOE_daybookV1.gsheet', 'Dhoma.gsheet', 'Info_sheet.gsheet']

In [2]:
df_bank_match = pd.read_excel("/content/drive/My Drive/2024_25/overview_account.xlsx",sheet_name='ME 2024-25')
df_bank_match_overview = df_bank_match.groupby('comment').agg({'Debit':'sum','Credit':'sum'}).reset_index().rename(columns={'comment':'party_name'})

NameError: name 'pd' is not defined

In [1]:
xml_file = '/content/drive/My Drive/2024_25/MEBook.XML'

In [ ]:
import xml.etree.ElementTree as ET
import pandas as pd

# Function to recursively extract text and sub-elements from a node
def extract_element_data(element):
    element_data = {}
    # If the element has no children, return its text
    if len(element) == 0:
        return element.text

    # Otherwise, go deeper into the element's children
    for child in element:
        # Recursively extract data for each child element
        child_data = extract_element_data(child)
        element_data[child.tag] = child_data
    return element_data

# Function to flatten nested dictionaries (e.g., 'amount': {'P': {'T': 100}})
def flatten_dict(d, parent_key='', sep='.'):
    items = []
    for k, v in d.items():
        new_key = f"{parent_key}{sep}{k}" if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

# Function to recursively search for all 'voucher' elements and extract their data
def find_all_vouchers(element, voucher_tag="VOUCHER"):
    vouchers = []

    # If the current element is a 'voucher', collect its data
    if element.tag == voucher_tag:
        voucher_dict = {}
        # Collect data for all child elements within the voucher
        for sub_child in element:
            extracted_data = extract_element_data(sub_child)
            voucher_dict[sub_child.tag] = extracted_data

        # Flatten the voucher dictionary to handle nested elements
        voucher_dict_flattened = flatten_dict(voucher_dict)
        vouchers.append(voucher_dict_flattened)

    # Recursively search in all children of the current element
    for child in element:
        vouchers.extend(find_all_vouchers(child, voucher_tag))

    return vouchers

# Function to convert the XML to a DataFrame by extracting all vouchers
def xml_to_dataframe_vouchers(xml_file):
    tree = ET.parse(xml_file)
    root = tree.getroot()

    # Find all 'voucher' elements in the XML
    voucher_list = find_all_vouchers(root)

    # Create a DataFrame from the list of voucher dictionaries
    df = pd.DataFrame(voucher_list)
    return df

# Path to your XML file
# xml_file = 'path_to_your_tally_daybook.xml'

# Convert XML to DataFrame
df = xml_to_dataframe_vouchers(xml_file)

In [ ]:
req_cols = ['DATE','VOUCHERTYPENAME','PARTYLEDGERNAME','PARTYGSTIN','CLASSNAME','PARTYNAME','CONSIGNEEGSTIN','PERSISTEDVIEW','ALLINVENTORYENTRIES.LIST.STOCKITEMNAME','ALLINVENTORYENTRIES.LIST.RATE','ALLINVENTORYENTRIES.LIST.AMOUNT','ALLINVENTORYENTRIES.LIST.ACTUALQTY','ALLINVENTORYENTRIES.LIST.BILLEDQTY','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.ACTUALQTY','ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.BILLEDQTY','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.LEDGERNAME','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.AMOUNT','LEDGERENTRIES.LIST.LEDGERNAME','LEDGERENTRIES.LIST.AMOUNT','LEDGERENTRIES.LIST.VATEXPAMOUNT','INVOICEORDERLIST.LIST.BASICORDERDATE','INVOICEORDERLIST.LIST.BASICPURCHASEORDERNO','BILLOFLADINGNO','REFERENCEDATE','REFERENCE','CONSIGNEEPINNUMBER','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.GSTOVRDNNATURE','ALLINVENTORYENTRIES.LIST.ACCOUNTINGALLOCATIONS.LIST.RATEDETAILS.LIST.GSTRATEDUTYHEAD','ALLLEDGERENTRIES.LIST.OLDAUDITENTRYIDS.LIST.OLDAUDITENTRYIDS','ALLLEDGERENTRIES.LIST.LEDGERNAME','ALLLEDGERENTRIES.LIST.AMOUNT','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.DATE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.INSTRUMENTDATE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.NAME','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.TRANSACTIONTYPE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTFAVOURING','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.CHEQUECROSSCOMMENT','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.UNIQUEREFERENCENUMBER','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.STATUS','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTMODE','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.BANKPARTYNAME','ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.AMOUNT','NARRATION']
df = df[req_cols]

In [ ]:
df['party_name'] = df[['PARTYNAME', 'ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTFAVOURING', 'ALLLEDGERENTRIES.LIST.LEDGERNAME']].bfill(axis=1).iloc[:, 0]
df['amount_coalesce'] = df[['ALLINVENTORYENTRIES.LIST.BATCHALLOCATIONS.LIST.AMOUNT', 'ALLLEDGERENTRIES.LIST.AMOUNT']].bfill(axis=1).iloc[:, 0]
df = df[['party_name','amount_coalesce']+req_cols]

In [ ]:
df

,party_name,amount_coalesce,DATE,VOUCHERTYPENAME,PARTYLEDGERNAME,PARTYGSTIN,CLASSNAME,PARTYNAME,CONSIGNEEGSTIN,PERSISTEDVIEW,...,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.NAME,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.TRANSACTIONTYPE,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTFAVOURING,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.CHEQUECROSSCOMMENT,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.UNIQUEREFERENCENUMBER,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.STATUS,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.PAYMENTMODE,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.BANKPARTYNAME,ALLLEDGERENTRIES.LIST.BANKALLOCATIONS.LIST.AMOUNT,NARRATION
0,AKAR INDUSTRY,37936.80,20240401,SALES GST,AKAR INDUSTRY,27AACFA4208J1ZP,SALES 18%,AKAR INDUSTRY,27AACFA4208J1ZP,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AKAR INDUSTRY,30902.40,20240401,SALES GST,AKAR INDUSTRY,27AACFA4208J1ZP,SALES 18%,AKAR INDUSTRY,27AACFA4208J1ZP,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AKAR INDUSTRY,18178.00,20240401,SALES GST,AKAR INDUSTRY,27AACFA4208J1ZP,SALES 28%,AKAR INDUSTRY,27AACFA4208J1ZP,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,V.S.AUTO TECH PRIVATE LIMITED,158040.00,20240401,SALES GST,V.S.AUTO TECH PRIVATE LIMITED,27AADCV3787B1Z8,SALES 18%,V.S.AUTO TECH PRIVATE LIMITED,27AADCV3787B1Z8,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,V.S.AUTO TECH PRIVATE LIMITED,45981.00,20240401,SALES GST,V.S.AUTO TECH PRIVATE LIMITED,27AADCV3787B1Z8,SALES 18%,V.S.AUTO TECH PRIVATE LIMITED,27AADCV3787B1Z8,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,V.S.AUTO TECH PRIVATE LIMITED,110360.00,20240909,SALES GST,V.S.AUTO TECH PRIVATE LIMITED,27AADCV3787B1Z8,SALES 18%,V.S.AUTO TECH PRIVATE LIMITED,27AADCV3787B1Z8,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1036,PATIL-N-PATIL ENGINEERING,13710.00,20240910,SALES GST,PATIL-N-PATIL ENGINEERING,27AAVPP3274C1ZD,SALES 28%,PATIL-N-PATIL ENGINEERING,27AAVPP3274C1ZD,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1037,PATIL-N-PATIL ENGINEERING,26570.00,20240910,SALES GST,PATIL-N-PATIL ENGINEERING,27AAVPP3274C1ZD,SALES 28%,PATIL-N-PATIL ENGINEERING,27AAVPP3274C1ZD,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1038,SURYA AUTO INDUSTRIES,750.40,20240910,SALES GST,SURYA AUTO INDUSTRIES,27AAXFS7928J1Z5,SALES 12%,SURYA AUTO INDUSTRIES,27AAXFS7928J1Z5,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1039,SAVITA AUTO INDUSTRIES (N),7000.00,20240910,SALES GST,SAVITA AUTO INDUSTRIES (N),27APAPK0624D1ZI,SALES 18%,SAVITA AUTO INDUSTRIES (N),27APAPK0624D1ZI,Invoice Voucher View,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# df.groupby("party_name").pivot("VOUCHERTYPENAME")['amount_coalesce'].sum()
df['amount_coalesce'] = df['amount_coalesce'].astype('float')
df_summary_all = pd.pivot_table(df, values='amount_coalesce', index='party_name', columns='VOUCHERTYPENAME', aggfunc='sum').reset_index()
df_summary_all['balance'] = 0
df_summary_all.loc[df_summary_all[df_summary_all['party_name']=='TIRUMALA MULTI TECHNOLOGIES'].index,'balance'] = 467646
df_summary_all.loc[df_summary_all[df_summary_all['party_name']=='SAVITA AUTO INDUSTRIES (N)'].index,'balance'] = 195853
df_summary_all.loc[df_summary_all[df_summary_all['party_name']=='PATIL-N-PATIL ENGINEERING	'].index,'balance'] = 55660
df_summary_all.loc[df_summary_all[df_summary_all['party_name']=='NANDAMURI TECHNOS'].index,'balance'] = 35255
df_summary_all.loc[df_summary_all[df_summary_all['party_name']=='V.S.AUTO TECH PRIVATE LIMITED'].index,'balance'] = 4699956
df_summary_all.loc[df_summary_all[df_summary_all['party_name']=='A.B.ENGINEERING WORKS'].index,'balance'] = 11598
df_summary_all.loc[df_summary_all[df_summary_all['party_name']=='AKAR INDUSTRY'].index,'balance'] = 317899

df_summary_all.loc[df_summary_all[df_summary_all['party_name']=='SURYA AUTO INDUSTRIES'].index,'balance'] = 23165


df_summary_all = df_summary_all.fillna(0)
df_summary_all['total_due']=df_summary_all[['Contra', 'Credit Note', 'DELIVERY CHALLAN', 'Debit Note',
       'Journal', 'Payment', 'Purchase', 'Receipt', 'SALES GST', 'balance']].sum(axis=1)
df_summary_all

VOUCHERTYPENAME,party_name,Contra,Credit Note,DELIVERY CHALLAN,Debit Note,Journal,Payment,Purchase,Receipt,SALES GST,balance,total_due
0,A.B.ENGINEERING WORKS,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.00,16431.00,11598,28029.00
1,AKAR INDUSTRY,0.0,0.00,0.0,0.00,0.0,0.00,0.00,-2142203.00,3780941.89,317899,1956637.89
2,ALPINE CORPORATION,0.0,0.00,0.0,0.00,0.0,0.00,-927.90,0.00,0.00,0,-927.90
3,ASHISH TRADING COMPANY,0.0,0.00,0.0,0.00,0.0,0.00,-2123.38,0.00,0.00,0,-2123.38
4,AURANGABAD STEEL CORPORATION,0.0,0.00,0.0,0.00,0.0,0.00,0.00,-1631916.40,1382980.00,0,-248936.40
5,AVADHOOT TARPAULIN,0.0,0.00,0.0,0.00,0.0,0.00,-26858.00,0.00,0.00,0,-26858.00
6,BANK CHARGES,0.0,0.00,0.0,0.00,0.0,122.72,0.00,0.00,0.00,0,122.72
7,BOMBAY INDUSTRIAL ENTERPRISES,0.0,0.00,0.0,0.00,0.0,0.00,-2437.44,0.00,0.00,0,-2437.44
8,BOMBAY TOOLS SCRAP CENTRE,0.0,0.00,0.0,0.00,0.0,0.00,-2356.45,0.00,0.00,0,-2356.45
9,BUSHRA TOOLS,0.0,0.00,0.0,0.00,0.0,0.00,-949.30,0.00,0.00,0,-949.30
10,BUSINESS TOOLS CENTRE,0.0,0.00,0.0,0.00,0.0,0.00,-1867.65,0.00,0.00,0,-1867.65
11,Cash,-100000.0,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0,-100000.00
12,EAGLE SPARES TOOLS & MACHNINERY,0.0,0.00,0.0,0.00,0.0,0.00,-4575.00,0.00,0.00,0,-4575.00
13,GANPATI ALLOYS,0.0,0.00,0.0,0.00,0.0,0.00,-32944.40,0.00,0.00,0,-32944.40
14,INDUSTRIAL MARKETING AGENCIES,0.0,0.00,0.0,0.00,0.0,0.00,-65565.00,0.00,0.00,0,-65565.00
15,JAI BHADRA METALS,0.0,0.00,0.0,0.00,0.0,0.00,-5855.40,0.00,0.00,0,-5855.40
16,JAYSHREE ELECTRICALS WORKS,0.0,0.00,0.0,0.00,0.0,0.00,-7640.00,0.00,0.00,0,-7640.00
17,KALINKA ENTERPRISES,0.0,0.00,0.0,0.00,80240.0,62922.00,-23019.65,0.00,0.00,0,120142.35
18,KALINKA INDUSTRIES,0.0,0.00,0.0,0.00,0.0,0.00,0.12,0.00,0.00,0,0.12
19,KALYANKAR TRADING CO.,0.0,0.00,0.0,0.00,0.0,0.00,-16040.00,0.00,0.00,0,-16040.00
20,KIRTI PRESSING PVT LTD.,0.0,0.00,0.0,0.00,0.0,4649.20,0.00,0.00,0.00,0,4649.20
21,KRISHNA STEELS & CHEMICALS,0.0,0.00,0.0,0.00,0.0,1680683.00,-765347.50,0.00,0.00,0,915335.50
22,KRISHNA TRANSFORMERS,0.0,0.00,0.0,0.00,0.0,0.00,-179685.00,0.00,0.00,0,-179685.00
23,MAHAVIR CABLE HOUSE,0.0,0.00,0.0,0.00,0.0,0.00,-610.00,0.00,0.00,0,-610.00
24,MATOSHRI ENGINEERING WORKS,0.0,0.00,0.0,0.00,0.0,0.00,0.00,-1000000.00,0.00,0,-1000000.00
25,MAX AUTO BATTERY,0.0,0.00,0.0,0.00,0.0,0.00,-15625.00,0.00,0.00,0,-15625.00
26,MAYURI SALUNKE,0.0,0.00,0.0,0.00,0.0,100000.00,0.00,0.00,0.00,0,100000.00
27,METSQUAD STEEL INDIA PVT LTD,0.0,0.00,0.0,0.00,0.0,1098591.00,-4710.00,0.00,0.00,0,1093881.00
28,MITTAL LOGISTICS PVT LTD,0.0,0.00,0.0,0.00,90408.0,63530.00,0.00,0.00,0.00,0,153938.00
29,Mahindra and Mahindra Finnce,0.0,0.00,0.0,0.00,0.0,49500.00,0.00,0.00,0.00,0,49500.00
30,NANDAMURI TECHNOS,0.0,0.00,0.0,0.00,0.0,0.00,-187746.00,-191000.00,475742.46,35255,132251.46
31,NOBLE AIR GASES,0.0,0.00,0.0,0.00,0.0,0.00,-31815.00,0.00,0.00,0,-31815.00
32,PATIL-N-PATIL ENGINEERING,0.0,-151659.61,0.0,242346.41,0.0,0.00,-4466504.77,0.00,3484124.33,0,-891693.64
33,PAWAN INTERNATIONAL,0.0,0.00,0.0,0.00,0.0,0.00,-9649.04,0.00,0.00,0,-9649.04
34,PRIME SOLUTION,0.0,0.00,0.0,0.00,0.0,0.00,-4500.00,0.00,0.00,0,-4500.00
35,QUICK INDUSTRIAL SUPPLIERS,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.00,415156.18,0,415156.18
36,RENT PAYABLE,0.0,0.00,0.0,0.00,0.0,56000.00,0.00,0.00,0.00,0,56000.00
37,S K ENGINEERS,0.0,0.00,0.0,0.00,0.0,0.00,-6475.00,0.00,0.00,0,-6475.00
38,SAI HEAT TREATMENT SERVICES,0.0,0.00,0.0,0.00,0.0,10018.00,-2299.72,0.00,0.00,0,7718.28
39,SALARY PAYABLE,0.0,0.00,0.0,0.00,0.0,84257.00,0.00,0.00,0.00,0,84257.00
40,SAVITA AUTO INDUSTRIES (N),0.0,0.00,0.0,0.00,0.0,0.00,0.00,-1351717.00,1346215.70,195853,190351.70
41,SETHIA ELECTRICALS,0.0,0.00,0.0,0.00,0.0,0.00,-11314.00,0.00,0.00,0,-11314.00
42,SHIVAM ELECTRICALS,0.0,0.00,0.0,0.00,0.0,0.00,-16410.00,0.00,0.00,0,-16410.00
43,SHREE PRASHAD ENTERPRISES,0.0,0.00,0.0,0.00,0.0,0.00,-590.00,0.00,0.00,0,-590.00
44,SHREE SAI ELECTRONICS & ELECTRICALS,0.0,0.00,0.0,0.00,0.0,0.00,-2200.00,0.00,0.00,0,-2200.00
45,SIDDHARTH ENTERPRISES,0.0,0.00,0.0,0.00,0.0,120001.00,-324397.00,0.00,0.00,0,-204396.00
46,SUGROV MOULD & DIES,0.0,0.00,0.0,0.00,0.0,0.00,-3600.00,0.00,0.00,0,-3600.00
47,SURYA AUTO INDUSTRIES,0.0,0.00,0.0,0.00,0.0,0.00,-152.88,0.00,17849.21,23165,40861.33
48,SWADESHI ENGINEERS,0.0,0.00,0.0,0.00,0.0,0.00,-800.00,0.00,0.00,0,-800.00
49,TIRUMALA MULTI TECHNOLOGIES,0.0,0.00,0.0,0.00,892.0,0.00,-2507.68,-533309.00,12834.80,467646,-54443.88
50,V.S.AUTO TECH PRIVATE LIMITED,0.0,0.00,0.0,0.00,0.0,0.00,0.00,-6412454.16,5666722.63,4699956,3954224.47
51,VAIBHAVSHREE TRADING,0.0,0.00,0.0,0.00,0.0,5000.00,0.00,0.00,0.00,0,5000.00
52,VEDANT METALLICS PVT LTD,0.0,0.00,0.0,0.00,0.0,5037722.00,-4197213.75,0.00,0.00,0,840508.25
53,VISHAL ENTERPRISES,0.0,0.00,0.0,0.00,0.0,0.00,-54750.00,0.00,0.00,0,-54750.00

In [ ]:
# df_bank_match
df_summary_all_bank = pd.merge(df_summary_all,df_bank_match_overview,on=['party_name'],how='outer')
df_summary_all_bank = df_summary_all_bank.sort_values(by='total_due', key=lambda x: x.isna()).reset_index(drop=True)

In [ ]:
df.to_excel("/content/drive/My Drive/2024_25/SOE_daybook.xlsx",sheet_name='master_sheet')
with pd.ExcelWriter("/content/drive/My Drive/2024_25/SOE_daybook.xlsx",mode='a') as writer:
  df_summary_all_bank.to_excel(writer,sheet_name='summary')
for xrow in df['VOUCHERTYPENAME'].unique().tolist():
  with pd.ExcelWriter("/content/drive/My Drive/2024_25/SOE_daybook.xlsx",mode='a') as writer:
    df[df['VOUCHERTYPENAME']==xrow].reset_index(drop=True).to_excel(writer,sheet_name=xrow)

In [ ]:
#

df_summary_all_bank

,party_name,Contra,Credit Note,DELIVERY CHALLAN,Debit Note,Journal,Payment,Purchase,Receipt,SALES GST,balance,total_due,Debit,Credit
0,A.B.ENGINEERING WORKS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16431.0,11598.0,28029.0,0.0,25099.0
1,KIRTI PRESSING PVT LTD.,0.0,0.0,0.0,0.0,0.0,4649.2,0.0,0.0,0.0,0.0,4649.2,4649.2,0.0
2,KRISHNA STEELS & CHEMICALS,0.0,0.0,0.0,0.0,0.0,1680683.0,-765347.5,0.0,0.0,0.0,915335.5,2572320.0,0.0
3,KRISHNA TRANSFORMERS,0.0,0.0,0.0,0.0,0.0,0.0,-179685.0,0.0,0.0,0.0,-179685.0,NaN,NaN
4,SUGROV MOULD & DIES,0.0,0.0,0.0,0.0,0.0,0.0,-3600.0,0.0,0.0,0.0,-3600.0,4032.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Mina Salunke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350000.0,0.0
79,OMKAR S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,400100.0
80,PARTNERSMAHENDRATAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77367.0,0.0
81,HOMELOAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,297115.0,0.0
82,WITHDRAWAL TRANSFER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600000.0,0.0

In [ ]:
import os
from datetime import datetime
path = '/content/drive/My Drive/2024_25'  # Replace with your desired path
files = os.listdir(path)
old_file_path  = '/content/drive/My Drive/2024_25/SOEDayBook.xlsx'
today_date = datetime.today().strftime('%Y-%m-%d')
if 'SOEDayBook.xlsx'  in files:
    # Create the new file name by appending today's date
  file_name, file_extension = os.path.splitext(old_file_path)
  new_file_path = f"{file_name}_{today_date}{file_extension}"

  # Rename the file
  os.rename(old_file_path, new_file_path)
  if not os.path.exists(old_file_path) and os.path.exists(new_file_path):
      print(f"File renamed and saved as: {new_file_path}")
      df.to_excel("/content/drive/My Drive/2024_25/SOE_daybook.xlsx",sheet_name='master_sheet')

      for xrow in df['VOUCHERTYPENAME'].unique().tolist():
        with pd.ExcelWriter("/content/drive/My Drive/2024_25/SOE_daybook.xlsx",mode='a') as writer:
          df[df['VOUCHERTYPENAME']==xrow].reset_index(drop=True).to_excel(writer,sheet_name=xrow)
  else:
      print(f"Error renaming file: {old_file_path}")

In [ ]:
import pandas as pd
df['DATE'] = pd.to_datetime(df['DATE'])

df_sales = df[df['VOUCHERTYPENAME']=='SALES GST'].reset_index(drop=True)
# Calculate new dates
df_sales['DATE_plus_45'] = df_sales['DATE'] + pd.DateOffset(days=45)
df_sales['DATE_plus_60'] = df_sales['DATE'] + pd.DateOffset(days=60)
df_sales['DATE_plus_90'] = df_sales['DATE'] + pd.DateOffset(days=90)
df_sales['Week_Number'] = df_sales['DATE_plus_45'].dt.isocalendar().week
df_sales['ALLINVENTORYENTRIES.LIST.AMOUNT'] = df_sales['ALLINVENTORYENTRIES.LIST.AMOUNT'].astype(float)
df_sales = df_sales.rename(columns={'ALLINVENTORYENTRIES.LIST.AMOUNT': 'sales_amount'})
df_sales_g = df_sales.groupby(['PARTYLEDGERNAME','Week_Number'])['sales_amount'].sum().reset_index()

# Add a column for the payment due date (45 days after the sale date)
df_sales['due_date'] = df_sales['DATE'] + pd.Timedelta(days=45)

# Filter the DataFrame to include only pending payments (due date is in the future)
pending_payments = df_sales[df_sales['due_date'] > pd.Timestamp.now()]

# Group by customer name and week of the year, and sum the amounts
pending_payments_per_week = pending_payments.groupby(['PARTYLEDGERNAME'])['sales_amount'].sum().reset_index()

pending_payments_per_week.columns = ['PARTYLEDGERNAME', 'due_amount_'+str(pd.Timestamp.now().date())]
outstanding_payments_g = df_sales.groupby(['PARTYLEDGERNAME'])['sales_amount'].sum().reset_index()

outstanding_payments_g.columns = ['PARTYLEDGERNAME', 'outstanding_amount']
df_receipt = df[df['VOUCHERTYPENAME']=='Receipt'].reset_index(drop=True)
df_receipt['ALLLEDGERENTRIES.LIST.AMOUNT'] = df_receipt['ALLLEDGERENTRIES.LIST.AMOUNT'].astype(float)
df_receipt = df_receipt.rename(columns={'ALLLEDGERENTRIES.LIST.AMOUNT': 'receipt_amount'})
df_receipt_g = df_receipt.groupby(['PARTYLEDGERNAME'])['receipt_amount'].sum().reset_index()
df_due_45_days = pd.merge(df_receipt_g,outstanding_payments_g,on=['PARTYLEDGERNAME'],how='right')
df_due_45_days = pd.merge(df_due_45_days,pending_payments_per_week,on=['PARTYLEDGERNAME'],how='left')
df_due_45_days['closing_balance_on_31_march'] = ''
with pd.ExcelWriter("/content/drive/My Drive/2024_25/SOE_daybook.xlsx",mode='a') as writer:
  df_due_45_days.to_excel(writer,sheet_name='Due_45_days')

/usr/local/lib/python3.10/dist-packages/openpyxl/packaging/relationship.py:118: UserWarning: xl/pivotCache/_rels/pivotCacheDefinition1.xml.rels contains invalid dependency definitions
  warn(msg)

ValueError: Sheet 'Due_45_days' already exists and if_sheet_exists is set to 'error'.